<div class="dropdown-tippy">
    <div data-tippy="1" class="dropdown">
        <div class="dropdown__menu-content">
            <div class="dropdown__top">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#copylink2"></use>
                        </svg>
                    </div>
                    Скопировать ссылку
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <img src="img/icon/bookmark.svg" alt="">
                    </div>
                    Добавить в Закладки
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#eye-off"></use>
                        </svg>
                    </div>
                    Скрыть публикацию
                </button>
            </div>
            <div class="dropdown__bottom">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="12">
                            <use xlink:href="img/sprite.svg#eye-closed"></use>
                        </svg>
                    </div>
                    Скрыть автора
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#octagon-alert"></use>
                        </svg>
                    </div>
                    Сообщить о нарушении
                </button>
            </div>
        </div>
    </div>
    <div data-tippy="2" class="dropdown">
        <div class="dropdown__menu-content">
            <div class="dropdown__top">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#copylink2"></use>
                        </svg>
                    </div>
                    Скопировать ссылку
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <img src="img/icon/bookmark.svg" alt="">
                    </div>
                    Добавить в Закладки
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#eye-off"></use>
                        </svg>
                    </div>
                    Скрыть публикацию
                </button>
            </div>
            <div class="dropdown__bottom">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="12">
                            <use xlink:href="img/sprite.svg#eye-closed"></use>
                        </svg>
                    </div>
                    Скрыть автора
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#octagon-alert"></use>
                        </svg>
                    </div>
                    Сообщить о нарушении
                </button>
            </div>
        </div>
    </div>
    <div data-tippy="3" class="dropdown">
        <div class="dropdown__menu-content">
            <div class="dropdown__top">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#copylink2"></use>
                        </svg>
                    </div>
                    Скопировать ссылку
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <img src="img/icon/bookmark.svg" alt="">
                    </div>
                    Добавить в Закладки
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#eye-off"></use>
                        </svg>
                    </div>
                    Скрыть публикацию
                </button>
            </div>
            <div class="dropdown__bottom">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="12">
                            <use xlink:href="img/sprite.svg#eye-closed"></use>
                        </svg>
                    </div>
                    Скрыть автора
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#octagon-alert"></use>
                        </svg>
                    </div>
                    Сообщить о нарушении
                </button>
            </div>
        </div>
    </div>
    <div data-tippy="4" class="dropdown">
        <div class="dropdown__menu-content">
            <div class="dropdown__top">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#copylink2"></use>
                        </svg>
                    </div>
                    Скопировать ссылку
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <img src="img/icon/bookmark.svg" alt="">
                    </div>
                    Добавить в Закладки
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#eye-off"></use>
                        </svg>
                    </div>
                    Скрыть публикацию
                </button>
            </div>
            <div class="dropdown__bottom">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="12">
                            <use xlink:href="img/sprite.svg#eye-closed"></use>
                        </svg>
                    </div>
                    Скрыть автора
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#octagon-alert"></use>
                        </svg>
                    </div>
                    Сообщить о нарушении
                </button>
            </div>
        </div>
    </div>
    <div data-tippy="5" class="dropdown">
        <div class="dropdown__menu-content">
            <div class="dropdown__top">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#copylink2"></use>
                        </svg>
                    </div>
                    Скопировать ссылку
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <img src="img/icon/bookmark.svg" alt="">
                    </div>
                    Добавить в Закладки
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#eye-off"></use>
                        </svg>
                    </div>
                    Скрыть публикацию
                </button>
            </div>
            <div class="dropdown__bottom">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="12">
                            <use xlink:href="img/sprite.svg#eye-closed"></use>
                        </svg>
                    </div>
                    Скрыть автора
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#octagon-alert"></use>
                        </svg>
                    </div>
                    Сообщить о нарушении
                </button>
            </div>
        </div>
    </div>
    <div data-tippy="6" class="dropdown">
        <div class="dropdown__menu-content">
            <div class="dropdown__top">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#copylink2"></use>
                        </svg>
                    </div>
                    Скопировать ссылку
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <img src="img/icon/bookmark.svg" alt="">
                    </div>
                    Добавить в Закладки
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#eye-off"></use>
                        </svg>
                    </div>
                    Скрыть публикацию
                </button>
            </div>
            <div class="dropdown__bottom">
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="12">
                            <use xlink:href="img/sprite.svg#eye-closed"></use>
                        </svg>
                    </div>
                    Скрыть автора
                </button>
                <button type="button" class="dropdown__item">
                    <div class="dropdown__icon">
                        <svg aria-hidden="true" width="22" height="22">
                            <use xlink:href="img/sprite.svg#octagon-alert"></use>
                        </svg>
                    </div>
                    Сообщить о нарушении
                </button>
            </div>
        </div>
    </div>
</div>