<div data-lp class="cookies" id="cookieNotice">
    <p>
        Мы используем файлы cookies для улучшения работы сайта. Оставаясь на нашем сайте, вы соглашаетесь с
        условиями использования файлов cookies. Чтобы ознакомиться с нашими Положениями о конфиденциальности и
        об использовании файлов cookie, <a href="#">нажмите здесь</a>.
    </p>
    <button type="button" id="acceptCookies" class="button-red">Хорошо</button>
</div>