<!DOCTYPE html>
<html lang="ru">

<head>
	<title>Главная страница</title>
	{% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
	<div class="main-wrapper-outer">
		{% include 'blocks/header.njk' %}
		{% include 'blocks/sidebar.njk' %}
		<main class="main">
			<div class="category">
				<div class="container">
					<div class="category__navigation navigation-category">
						<div class="navigation-category__slider swiper">
							<div class="navigation-category__wrapper swiper-wrapper">
								<a href="#" data-filter="all" class="navigation-category__slide swiper-slide _active">
									Общая
								</a>
								<a href="#" data-filter="subscriptions" class="navigation-category__slide swiper-slide">
									Мои подписки
								</a>
								<a href="#" data-filter="animation" class="navigation-category__slide swiper-slide">
									Анимация
								</a>
								<a href="#" data-filter="business" class="navigation-category__slide swiper-slide">
									Бизнес
								</a>
								<a href="#" data-filter="charity" class="navigation-category__slide swiper-slide">
									Благотворительность
								</a>
								<a href="#" data-filter="blog" class="navigation-category__slide swiper-slide">
									Блог
								</a>
								<a href="#" data-filter="military-affairs"
									class="navigation-category__slide swiper-slide">
									Военное дело
								</a>
								<a href="#" data-filter="food" class="navigation-category__slide swiper-slide">
									Еда
								</a>
								<a href="#" data-filter="animals" class="navigation-category__slide swiper-slide">
									Животные
								</a>
								<a href="#" data-filter="health" class="navigation-category__slide swiper-slide">
									Здоровье
								</a>
								<a href="#" data-filter="games" class="navigation-category__slide swiper-slide">
									Игры
								</a>
								<a href="#" data-filter="games" class="navigation-category__slide swiper-slide">
									Игры
								</a>
							</div>
						</div>
						<div class="navigation-category__arrow-prev arrow-prev">
							<svg aria-hidden="true" width="15" height="10">
								<use xlink:href="img/sprite.svg#arrow1"></use>
							</svg>
						</div>
						<div class="navigation-category__arrow-next arrow-next">
							<svg aria-hidden="true" width="15" height="10">
								<use xlink:href="img/sprite.svg#arrow1"></use>
							</svg>
						</div>
					</div>
					<div class="category__body">
						<div class="category__content">
							<div class="category__slider swiper">
								<div class="category__wrapper swiper-wrapper">
									<div data-category="subscriptions" class="category__slide swiper-slide">
										<div class="category__item">
											<div style=" background: linear-gradient(180deg, rgba(75, 55, 39, 0) 0%, #4b3727 50.44%);"
												class="category__bg"></div>
											<button type="button" class="category__close">
												<svg aria-hidden="true" width="10" height="10">
													<use xlink:href="img/sprite.svg#close"></use>
												</svg>
											</button>
											<div class="category__image">
												<img src="img/image/image1.webp" alt="">
											</div>
											<div class="category__header">
												<a href="#" class="category__top">
													<div class="category__title">
														The Substack Post
													</div>
													<div class="category__subtitle">
														Spring eats, unstacked
													</div>
												</a>
												<div class="category__bottom">
													<div class="category__text">
														Новый <span>- 6м чтения</span>
													</div>
													<div data-tippy="1" class="category__dots">
														<div class="dots">
															<svg aria-hidden="true" width="16" height="4">
																<use xlink:href="img/sprite.svg#dots"></use>
															</svg>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div data-category="animation" class="category__slide swiper-slide">
										<div class="category__item">
											<div style="background: linear-gradient(180deg, rgba(156, 114, 85, 0) 0%, #9c7255 50.44%);"
												class="category__bg"></div>
											<button type="button" class="category__close">
												<svg aria-hidden="true" width="10" height="10">
													<use xlink:href="img/sprite.svg#close"></use>
												</svg>
											</button>
											<div class="category__image">
												<img src="img/image/image2.webp" alt="">
											</div>
											<div class="category__header">
												<a href="#" class="category__top">
													<div class="category__title">
														BoldBrush
													</div>
													<div class="category__subtitle">
														Only Love Can Judge: The Sacred Role of True Critics
													</div>
												</a>
												<div class="category__bottom">
													<div class="category__text">
														<span>9м чтения</span>
													</div>
													<div data-tippy="2" class="category__dots">
														<div class="dots">
															<svg aria-hidden="true" width="16" height="4">
																<use xlink:href="img/sprite.svg#dots"></use>
															</svg>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div data-category="business" class="category__slide swiper-slide">
										<div class="category__item">
											<div style="background: linear-gradient(180deg, rgba(49, 51, 39, 0) 0%, #313327 50.44%);"
												class="category__bg"></div>
											<button type="button" class="category__close">
												<svg aria-hidden="true" width="10" height="10">
													<use xlink:href="img/sprite.svg#close"></use>
												</svg>
											</button>
											<div class="category__image">
												<img src="img/image/image3.webp" alt="">
											</div>
											<div class="category__header">
												<a href="#" class="category__top">
													<div class="category__title">
														HIDDEN.RSRCH
													</div>
													<div class="category__subtitle">
														[HIDDEN] x andWANDER 2.0 Preview
													</div>
												</a>
												<div class="category__bottom">
													<div class="category__text">
														Новый <span>- 3м чтения</span>
													</div>
													<div data-tippy="3" class="category__dots">
														<div class="dots">
															<svg aria-hidden="true" width="16" height="4">
																<use xlink:href="img/sprite.svg#dots"></use>
															</svg>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div data-category="charity" class="category__slide swiper-slide">
										<div class="category__item">
											<div style="background: linear-gradient(180deg, rgba(35, 37, 37, 0) 0%, #232525 50.44%);"
												class="category__bg"></div>
											<button type="button" class="category__close">
												<svg aria-hidden="true" width="10" height="10">
													<use xlink:href="img/sprite.svg#close"></use>
												</svg>
											</button>
											<div class="category__image">
												<img src="img/image/image4.webp" alt="">
											</div>
											<div class="category__header">
												<a href="#" class="category__top">
													<div class="category__title">
														PHOTOSNACK
													</div>
													<div class="category__subtitle">
														Stephen Shore
													</div>
												</a>
												<div class="category__bottom">
													<div class="category__text">
														<span>1м чтения</span>
													</div>
													<div data-tippy="4" class="category__dots">
														<div class="dots">
															<svg aria-hidden="true" width="16" height="4">
																<use xlink:href="img/sprite.svg#dots"></use>
															</svg>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div data-category="charity" class="category__slide swiper-slide">
										<div class="category__item">
											<div style="background: linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, #0d0d0d 50.44%);"
												class="category__bg"></div>
											<button type="button" class="category__close">
												<svg aria-hidden="true" width="10" height="10">
													<use xlink:href="img/sprite.svg#close"></use>
												</svg>
											</button>
											<div class="category__image">
												<img src="img/image/image5.webp" alt="">
											</div>
											<div class="category__header">
												<a href="#" class="category__top">
													<div class="category__title">
														The Substack Post
													</div>
													<div class="category__subtitle">
														Spring eats, unstacked
													</div>
												</a>
												<div class="category__bottom">
													<div class="category__text">
														Новый <span>- 6м чтения</span>
													</div>
													<div data-tippy="5" class="category__dots">
														<div class="dots">
															<svg aria-hidden="true" width="16" height="4">
																<use xlink:href="img/sprite.svg#dots"></use>
															</svg>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div data-category="food" class="category__slide swiper-slide">
										<div class="category__item">
											<div style="background: linear-gradient(180deg, rgba(1, 1, 1, 0) 0%, #0d0d0d 50.44%);"
												class="category__bg"></div>
											<button type="button" class="category__close">
												<svg aria-hidden="true" width="10" height="10">
													<use xlink:href="img/sprite.svg#close"></use>
												</svg>
											</button>
											<div class="category__image">
												<img src="img/image/image5.webp" alt="">
											</div>
											<div class="category__header">
												<a href="#" class="category__top">
													<div class="category__title">
														The Substack Post
													</div>
													<div class="category__subtitle">
														Spring eats, unstacked
													</div>
												</a>
												<div class="category__bottom">
													<div class="category__text">
														Новый <span>- 6м чтения</span>
													</div>
													<div data-tippy="6" class="category__dots">
														<div class="dots">
															<svg aria-hidden="true" width="16" height="4">
																<use xlink:href="img/sprite.svg#dots"></use>
															</svg>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="category__arrow-prev arrow-prev">
								<svg aria-hidden="true" width="15" height="10">
									<use xlink:href="img/sprite.svg#arrow1"></use>
								</svg>
							</div>
							<div class="category__arrow-next arrow-next">
								<svg aria-hidden="true" width="15" height="10">
									<use xlink:href="img/sprite.svg#arrow1"></use>
								</svg>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="share-thoughts">
				<div class="container">
					<a href="#" data-popup="#share-thoughts" class="share-thoughts__content">
						<div class="share-thoughts__image">
							<img loading="lazy" src="img/avatar.webp" alt="">
						</div>
						<span>Поделитесь мыслями</span>
					</a>
				</div>
			</div>
			<div class="posts">
				<div class="container">
					<div class="posts__content">
						<div data-category="all" class="posts__post post">
							<div class="post__header">
								<div class="post__left">
									<div class="post__avatar">
										<img loading="lazy" src="img/avatar2.webp" alt="">
									</div>
									<div class="post__titles">
										<div class="post__name">
											<span>София Кэри</span>
											<svg aria-hidden="true" width="15" height="16">
												<use xlink:href="img/sprite.svg#star"></use>
											</svg>
										</div>
										<span>Александр Константинович</span>
									</div>
								</div>
								<div class="post__right">
									<button type="button" class="post__subscribe">Подписаться</button>
									<div class="dots">
										<svg aria-hidden="true" width="16" height="4">
											<use xlink:href="img/sprite.svg#dots"></use>
										</svg>
										<div class="dropdown">
											<div class="dropdown__menu-content">
												<div class="dropdown__top">
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="20">
																<use xlink:href="img/sprite.svg#user-plus"></use>
															</svg>
														</div>
														Подписаться
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#copylink2"></use>
															</svg>
														</div>
														Скопировать ссылку
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<img src="img/icon/bookmark.svg" alt="">
														</div>
														Добавить в Закладки
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#eye-off"></use>
															</svg>
														</div>
														Скрыть публикацию
													</button>
												</div>
												<div class="dropdown__bottom">
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="12">
																<use xlink:href="img/sprite.svg#eye-closed"></use>
															</svg>
														</div>
														Скрыть автора
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#blacklisted"></use>
															</svg>
														</div>
														В черный список
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#octagon-alert"></use>
															</svg>
														</div>
														Сообщить о нарушении
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="post__content">
								<p>
									Подборка портретов, которые я сняла за эти годы ❤️ Я действительно люблю
									фотографировать людей
								</p>
								<div class="post__sliders">
									<div class="post__slider swiper">
										<div class="post__wrapper swiper-wrapper">
											<a href="img/image/image6.webp" data-fancybox="gallery1"
												class="post__slide swiper-slide">
												<img loading="lazy" src="img/image/image6.webp" alt="">
												<div class="post__slide-bg">
													<svg aria-hidden="true" width="40" height="39">
														<use xlink:href="img/sprite.svg#search"></use>
													</svg>
												</div>
											</a>
											<a href="img/image/image7.webp" data-fancybox="gallery1"
												class="post__slide swiper-slide">
												<img loading="lazy" src="img/image/image7.webp" alt="">
												<div class="post__slide-bg">
													<svg aria-hidden="true" width="40" height="39">
														<use xlink:href="img/sprite.svg#search"></use>
													</svg>
												</div>
											</a>
											<a href="img/image/image7.webp" data-fancybox="gallery1"
												class="post__slide swiper-slide">
												<img loading="lazy" src="img/image/image7.webp" alt="">
												<div class="post__slide-bg">
													<svg aria-hidden="true" width="40" height="39">
														<use xlink:href="img/sprite.svg#search"></use>
													</svg>
												</div>
											</a>
										</div>
									</div>
									<div class="post__arrow-prev arrow-prev">
										<svg aria-hidden="true" width="15" height="8">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</div>
									<div class="post__arrow-next arrow-next">
										<svg aria-hidden="true" width="15" height="8">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</div>
								</div>
								<div class="post__footer">
									<div class="post__like post-icon">
										<div class="post__like-icon">
											<svg aria-hidden="true" width="21" height="20">
												<use xlink:href="img/sprite.svg#heart"></use>
											</svg>
										</div>
										<div class="post__like-active">
											<img src="img/icon/heart-active.svg" alt="">
										</div>
										<div class="post__like-active2">
											<img src="img/icon/heart-active2.svg" alt="">
										</div>
										<span>50</span>
									</div>
									<div class="post__comment post-icon">
										<svg aria-hidden="true" width="20" height="19">
											<use xlink:href="img/sprite.svg#chat"></use>
										</svg>
										<span>2</span>
									</div>
									<div class="post__reset post-icon">
										<svg aria-hidden="true" width="20" height="20">
											<use xlink:href="img/sprite.svg#copylink"></use>
										</svg>
									</div>
									<div class="post__data">
										1 сентября
									</div>
								</div>
							</div>
						</div>
						<div data-category="subscriptions" class="posts__post post">
							<div class="post__header">
								<div class="post__left">
									<div class="post__avatar">
										<img loading="lazy" src="img/avatar3.webp" alt="">
									</div>
									<div class="post__titles">
										<div class="post__name">
											<span>Чулан историй</span>
											<svg aria-hidden="true" width="15" height="16">
												<use xlink:href="img/sprite.svg#star"></use>
											</svg>
										</div>
										<span>РА Фридман</span>
									</div>
								</div>
								<div class="post__right">
									<button type="button" class="post__subscribe _active">Вы подписаны</button>
									<div class="dots">
										<svg aria-hidden="true" width="16" height="4">
											<use xlink:href="img/sprite.svg#dots"></use>
										</svg>
										<div class="dropdown">
											<div class="dropdown__menu-content">
												<div class="dropdown__top">
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#copylink2"></use>
															</svg>
														</div>
														Скопировать ссылку
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<img src="img/icon/remove-bookmark.svg" alt="">
														</div>
														Убрать из Закладок
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#eye-off"></use>
															</svg>
														</div>
														Скрыть публикацию
													</button>
												</div>
												<div class="dropdown__bottom">
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="24" height="24">
																<use xlink:href="img/sprite.svg#eye-show"></use>
															</svg>
														</div>
														Показать автора
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="24" height="24">
																<use xlink:href="img/sprite.svg#blacklisted-remove">
																</use>
															</svg>
														</div>
														Из чёрного списка
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#octagon-alert"></use>
															</svg>
														</div>
														Сообщить о нарушении
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="post__content">
								<p>
									Когда я рисую прямо с моделей каждую неделю, самая длинная поза —<br> 20 минут. Я не
									работаю быстро, поэтому я не беспокоюсь о том,<br> насколько хорош рисунок, а о том,
									как
									много я наблюдаю.
								</p>
								<div class="post__sliders">
									<div class="post__slider swiper">
										<div class="post__wrapper swiper-wrapper">
											<a href="img/image/image8.webp" data-fancybox="gallery2"
												class="post__slide swiper-slide">
												<img loading="lazy" src="img/image/image8.webp" alt="">
												<div class="post__slide-bg">
													<svg aria-hidden="true" width="40" height="39">
														<use xlink:href="img/sprite.svg#search"></use>
													</svg>
												</div>
											</a>
											<a href="img/image/image9.webp" data-fancybox="gallery2"
												class="post__slide swiper-slide">
												<img loading="lazy" src="img/image/image9.webp" alt="">
												<div class="post__slide-bg">
													<svg aria-hidden="true" width="40" height="39">
														<use xlink:href="img/sprite.svg#search"></use>
													</svg>
												</div>
											</a>
										</div>
									</div>
									<div class="post__arrow-prev arrow-prev">
										<svg aria-hidden="true" width="15" height="8">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</div>
									<div class="post__arrow-next arrow-next">
										<svg aria-hidden="true" width="15" height="8">
											<use xlink:href="img/sprite.svg#arrow1"></use>
										</svg>
									</div>
								</div>
								<div class="post__footer">
									<div class="post__like post-icon">
										<div class="post__like-icon">
											<svg aria-hidden="true" width="21" height="20">
												<use xlink:href="img/sprite.svg#heart"></use>
											</svg>
										</div>
										<div class="post__like-active">
											<img src="img/icon/heart-active.svg" alt="">
										</div>
										<div class="post__like-active2">
											<img src="img/icon/heart-active2.svg" alt="">
										</div>
										<span>50</span>
									</div>
									<div class="post__comment post-icon">
										<svg aria-hidden="true" width="20" height="19">
											<use xlink:href="img/sprite.svg#chat"></use>
										</svg>
										<span>2</span>
									</div>
									<div class="post__reset post-icon">
										<svg aria-hidden="true" width="20" height="20">
											<use xlink:href="img/sprite.svg#copylink"></use>
										</svg>
									</div>
									<div class="post__data">
										1 сентября
									</div>
								</div>
							</div>
						</div>
						<div data-category="subscriptions" class="posts__post post">
							<div class="post__header">
								<div class="post__left">
									<div class="post__avatar">
										<img loading="lazy" src="img/avatar3.webp" alt="">
									</div>
									<div class="post__titles">
										<div class="post__name">
											<span>Чулан историй</span>
											<svg aria-hidden="true" width="15" height="16">
												<use xlink:href="img/sprite.svg#star"></use>
											</svg>
										</div>
										<span>РА Фридман</span>
									</div>
								</div>
								<div class="post__right">
									<button type="button" class="post__subscribe _active">Вы подписаны</button>
									<div class="dots">
										<svg aria-hidden="true" width="16" height="4">
											<use xlink:href="img/sprite.svg#dots"></use>
										</svg>
										<div class="dropdown">
											<div class="dropdown__menu-content">
												<div class="dropdown__top">
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#copylink2"></use>
															</svg>
														</div>
														Скопировать ссылку
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<img src="img/icon/remove-bookmark.svg" alt="">
														</div>
														Убрать из Закладок
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#eye-off"></use>
															</svg>
														</div>
														Скрыть публикацию
													</button>
												</div>
												<div class="dropdown__bottom">
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="24" height="24">
																<use xlink:href="img/sprite.svg#eye-show"></use>
															</svg>
														</div>
														Показать автора
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="24" height="24">
																<use xlink:href="img/sprite.svg#blacklisted-remove">
																</use>
															</svg>
														</div>
														Из чёрного списка
													</button>
													<button type="button">
														<div class="dropdown__icon">
															<svg aria-hidden="true" width="22" height="22">
																<use xlink:href="img/sprite.svg#octagon-alert"></use>
															</svg>
														</div>
														Сообщить о нарушении
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="post__content">
								<div data-showmore class="showmore">
									<div data-showmore-content class="showmore__content">
										<p>
											Овощи — основа здорового питания.
										</p>
										<p>
											Овощи являются неотъемлемой частью рациона каждого человека. Они богаты
											витаминами,
											минералами и клетчаткой, необходимыми для поддержания здоровья организма.
											Регулярное
											употребление овощей помогает укрепить иммунитет, нормализовать работу
											пищеварительной
											системы и снизить риск развития хронических заболеваний.
										</p>

										<p>
											Существует огромное разнообразие овощей, каждый из которых обладает
											уникальными
											свойствами и вкусовыми качествами. Например, морковь известна своим высоким
											содержанием
											витамина А, брокколи является источником антиоксидантов, а помидоры содержат
											ликопин,
											полезный для сердца. Выбор овощей зависит от предпочтений и потребностей
											конкретного
											человека.
										</p>
										<p>
											Существует огромное разнообразие овощей, каждый из которых обладает
											уникальными
											свойствами и вкусовыми качествами. Например, морковь известна своим высоким
											содержанием
											витамина А, брокколи является источником антиоксидантов, а помидоры содержат
											ликопин,
											полезный для сердца. Выбор овощей зависит от предпочтений и потребностей
											конкретного
											человека.
										</p>

									</div>
									<button data-showmore-button type="button" class="showmore__more">
										<span>Читать
											дальше</span>
										<span>Свернуть</span>
									</button>
									<img src="img/image/image1.webp" alt="">
								</div>
								<div class="post__footer">
									<div class="post__like post-icon">
										<div class="post__like-icon">
											<svg aria-hidden="true" width="21" height="20">
												<use xlink:href="img/sprite.svg#heart"></use>
											</svg>
										</div>
										<div class="post__like-active">
											<img src="img/icon/heart-active.svg" alt="">
										</div>
										<div class="post__like-active2">
											<img src="img/icon/heart-active2.svg" alt="">
										</div>
										<span>50</span>
									</div>
									<div class="post__comment post-icon">
										<svg aria-hidden="true" width="20" height="19">
											<use xlink:href="img/sprite.svg#chat"></use>
										</svg>
										<span>2</span>
									</div>
									<div class="post__reset post-icon">
										<svg aria-hidden="true" width="20" height="20">
											<use xlink:href="img/sprite.svg#copylink"></use>
										</svg>
									</div>
									<div class="post__data">
										1 сентября
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
	</div>
	{% include 'blocks/scripts.njk' %}
	{% include 'blocks/carousel-tips.njk' %}
	{% include 'blocks/cookies.njk' %}
	{% include 'blocks/popups.njk' %}

	<div class="note-published">
		Заметка опубликована
	</div>
</body>

</html>