<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
	<div class="rootpage">
		<ol class="rootpage__list">
			<li><a target="_blank" href="home.html">Главная</a></li>
			<li><a target="_blank" href="view-note.html">Просмотр заметки</a></li>
			<li><a target="_blank" href="view-publication.html">Просмотр публикации</a></li>
			<li><a target="_blank" href="history.html">История</a></li>
			<li><a target="_blank" href="publication.html">Лента публикаций</a></li>
			<li><a target="_blank" href="all-publication.html">Все публикации</a></li>
			<li><a target="_blank" href="all-authors.html">Все авторы</a></li>
			<li><a target="_blank" href="subscription-management.html">Управление подписками</a></li>
			<li><a target="_blank" href="tariffs.html">Выбор тарифов</a></li>
			<li><a target="_blank" href="registration.html">Регистрация</a></li>
			<li><a target="_blank" href="menu-controls.html">Пункты управления меню</a></li>
			<li><a target="_blank" href="myclub-publication1.html">Мой клуб, публикации, опубликованные</a></li>
			<li><a target="_blank" href="myclub-publication2.html">Мой клуб, публикации, черновики</a></li>
			<li><a target="_blank" href="myclub-publication3.html">Мой клуб, публикации, запланированные</a></li>
			<li><a target="_blank" href="add-publication.html">Мой клуб, публикации, добавление публикации</a></li>
			<li><a target="_blank" href="myclub-obzor.html">Мой клуб, обзор</a></li>
			<li><a target="_blank" href="myclub-subscribers.html">Мой клуб, подписчики</a></li>
			<li><a target="_blank" href="myclub-statistics.html">Мой клуб, статистика</a></li>
			<li><a target="_blank" href="myclub-utm.html">Мой клуб, UTM</a></li>
			<li><a target="_blank" href="myclub-design.html">Мой клуб, дизайн</a></li>
			<li><a target="_blank" href="myclub-referrers.html">Мой клуб, рефереры</a></li>

			<li><a target="_blank" href="myclub-settings-profile.html">Мой клуб, настройки профиля</a></li>

			<li><a target="_blank" href="myclub-settings.html">Мой клуб, настройки</a></li>
			<li><a target="_blank" href="myclub-unsubscribe.html">Мой клуб, настройки, Страница отказа от подписки</a></li>
			<li><a target="_blank" href="myclub-welcome-subscribe.html">Мой клуб, настройки, Приветственное письмо новым подписчикам</a></li>
			<li><a target="_blank" href="myclub-title-all-publications.html">Мой клуб, настройки, Заголовок для всех публикаций</a></li>
			<li><a target="_blank" href="myclub-letter-title.html">Мой клуб, настройки, Заголовок и подпись письма</a></li>
			
			<li><a target="_blank" href="custom-club.html">Пользовательская страница клуба</a></li>
			<li><a target="_blank" href="custom-club-notes.html">Пользовательская страница клуба, заметки</a></li>
			<li><a target="_blank" href="custom-club-archive.html">Пользовательская страница клуба автора, архив</a></li>
			<li><a target="_blank" href="custom-club-about.html">Пользовательская страница клуба автора, об авторе</a></li>
			<li><a target="_blank" href="add-custom-page.html">Мой клуб, дизайн, добавление пользовательских страниц</a></li>
			<li><a target="_blank" href="editor-custom-club.html">Редактор страницы клуба автора</a></li>
			<li><a target="_blank" href="myсlub-about-project.html">Мой клуб, дизайн, О проекте</a></li>
			<li><a target="_blank" href="error.html">Ошибка</a></li>
		</ol>
	</div>
</body>
<style>
	@charset "UTF-8";

	*,
	*::before,
	*::after {
		padding: 0px;
		margin: 0px;
		border: 0px;
		box-sizing: border-box;
	}

	html,
	body {
		height: 100%;
		margin: 0;
		padding: 0;
		min-width: 320px;
		width: 100%;
		color: #2b2e33;
		background-color: #fff;
	}

	body {
		font-family: "Inter", sans-serif;
		font-size: 100%;
		line-height: 1;
		font-size: 1rem;
	}

	a {
		text-decoration: underline;
		color: #2b2e33;
	}

	a:visited {
		text-decoration: underline;
		color: #2b2e33;
	}

	a:hover {
		text-decoration: none;
	}

	ul li {
		list-style: none;
	}

	img {
		vertical-align: top;
	}

	.wrapper {
		width: 100%;
		min-height: 100%;
		overflow: hidden;
	}

	.rootpage {
		padding: 30px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	@media (max-width: 767px) {
		.rootpage {
			padding: 30px 15px;
		}
	}

	.rootpage__list {
		margin: 0px 0px 2.25rem 1.25rem;
	}

	.rootpage__list li:not(:last-child) {
		margin: 0px 0px 15px 0px;
	}
</style>

</html>