.header-myclub2 {
    width: 100%;
    left: 0;
    border-bottom: none;
    .header__contents {
        @media (max-width: 992px) {
            padding: 20px 10px;
        }
        @media (max-width: 768px) {
            padding: 10px;
        }
    }
    .header__right {
        gap: 20px;
        @media (max-width: 768px) {
            gap: 10px;
        }
        .button {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }
}

.settings-publication {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 8px;
    padding: 8px 10px;
    gap: 10px;
    background-color: var(--color-blue-grey);
    font-weight: 400;
    font-size: 16px;
    transition: opacity 0.3s;
    img {
        width: 24px;
        height: 24px;
    }
    &:hover {
        opacity: 0.7;
    }
    @media (max-width: 992px) {
        right: 10px;
        bottom: 10px;
    }
}

.info-publication {
    position: fixed;
    left: 20px;
    bottom: 20px;
    @media (max-width: 992px) {
        left: 10px;
        bottom: 10px;
    }
    &.active {
        .info-publication__dropdown {
            opacity: 1;
            pointer-events: auto;
        }
    }
    // .info-publication__button

    &__button {
        width: 40px;
        height: 40px;
        background: var(--color-blue-grey);
        border-radius: 8px;
        padding: 8px;
        img {
            width: 24px;
            height: 24px;
        }
    }

    // .info-publication__dropdown

    &__dropdown {
        position: absolute;
        bottom: 60px;
        left: 0;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
        background: var(--color-blue-grey);
        width: 210px;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }
        }
    }

    // .info-publication__title

    &__title {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        margin: 0px 0px 20px 0px;
    }

    // .info-publication__name

    &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    // .info-publication__value

    &__value {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: right;
    }
}

.block-add-publication {
    
    .open-settings & {
        display: none;
    }
    

    // .block-add-publication__edit

    &__edit {
        display: flex;
        gap: 10px;
        align-items: center;
        background: var(--color-blue-grey);
        margin: 0px 0px 30px 0px;
        border-radius: 8px;
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
        transition: opacity 0.3s;
        @media (max-width: 550px) {
            font-size: 12px;
        }
        @media (max-width: 480px) {
            width: 100%;
            justify-content: center;
        }
        svg {
            transform: rotate(-90deg);
        }
        &:hover {
            opacity: 0.7;
        }
    }
}


.add-video {
    position: fixed;
    border: 1px solid var(--color-grey);
    border-radius: 10px;
    overflow: hidden;
    right: 20px;
    bottom: 20px;
    z-index: 20;
    width: 400px;
    background: var(--color-base);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
    @media (max-width: 992px) {
        right: 10px;
        bottom: 10px;
    }
    @media (max-width: 550px) {
        width: 100%;
        right: 0;
        bottom: 0;
        box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    }
    // .add-video__top

    &__top {
        border-bottom: 1px solid var(--color-grey);
        padding: 20px;
        background: var(--color-base);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    // .add-video__title

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
    }

    // .add-video__close

    &__close {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            fill: var(--color-black);
            transition: fill 0.3s;
        }
        &:hover {
            fill: var(--color-red);
        }
    }

    // .add-video__body

    &__body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .button-red {
            width: 100%;
            min-height: 39px;
            &.disabled {
                border: 1px solid transparent;
                color: var(--color-grey2-dlya-dop-teksta);
                pointer-events: none;
                background: var(--color-light-gray);
            }
        }
    }

    // .add-video__step

    &__step {
        border: 1px solid var(--color-grey);
        border-radius: 10px;
        padding: 20px;
        background: var(--color-base);
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 10px;
        position: relative;
        display: none;
        @media (max-width: 550px) {
            height: 150px;
        }
        input {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
        &.active {
            display: flex;
        }
        &.step4 {
            padding: 0px 0px 0px 0px;
        }
    }

    // .add-video__pic1

    &__pic1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .add-video__play

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--color-black);
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        img {
            width: 10px;
            height: 13px;
            margin: 0px 0px 0px 2px;
        }
    }

    // .add-video__icon

    &__icon {
        width: 24px;
        height: 24px;
        img {
            width: 24px;
            height: 24px;
        }
    }

    // .add-video__name

    &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
    }

    // .add-video__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: var(--color-grey2-dlya-dop-teksta);
    }
}

.popup-settings-publication2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background-color: var(--color-base);
    display: none;

    .open-settings & {
        display: flex;
    }

    .popup-settings-publication__body {
        padding: 0px 0px 0px 0px;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    // .popup-settings-publication2__content

    &__content {
        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px;
        width: 100%;
    }
}
