.header-myclub2 {
    width: 100%;
    left: 0;
    border-bottom: none;
    .header__contents {
        @media (max-width: 992px) {
            padding: 20px 10px;
        }
        @media (max-width: 768px) {
            padding: 10px;
        }
    }
    .header__right {
        gap: 20px;
        @media (max-width: 768px) {
            gap: 10px;
        }
        .button {
            @media (max-width: 992px) {
                display: none;
            }
        }
    }
}

.settings-publication {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 8px;
    padding: 8px 10px;
    gap: 10px;
    background-color: var(--color-blue-grey);
    font-weight: 400;
    font-size: 16px;
    transition: opacity 0.3s;
    img {
        width: 24px;
        height: 24px;
    }
    &:hover {
        opacity: 0.7;
    }
    @media (max-width: 992px) {
        right: 10px;
        bottom: 10px;
    }
}

.info-publication {
    position: fixed;
    left: 20px;
    bottom: 20px;
    @media (max-width: 992px) {
        left: 10px;
        bottom: 10px;
    }
    &.active {
        .info-publication__dropdown {
            opacity: 1;
            pointer-events: auto;
        }
    }
    // .info-publication__button

    &__button {
        width: 40px;
        height: 40px;
        background: var(--color-blue-grey);
        border-radius: 8px;
        padding: 8px;
        img {
            width: 24px;
            height: 24px;
        }
    }

    // .info-publication__dropdown

    &__dropdown {
        position: absolute;
        bottom: 60px;
        left: 0;
        border-radius: 10px;
        padding: 10px;
        box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
        background: var(--color-blue-grey);
        width: 210px;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        ul {
            display: flex;
            flex-direction: column;
            gap: 10px;
            li {
                display: flex;
                justify-content: space-between;
                gap: 10px;
            }
        }
    }

    // .info-publication__title

    &__title {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        margin: 0px 0px 20px 0px;
    }

    // .info-publication__name

    &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    // .info-publication__value

    &__value {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        text-align: right;
    }
}

.block-add-publication {
    padding: 23px 0px 25px 0px;
    @media (max-width: 768px) {
        padding: 23px 0px 31px 0px;
    }
    .open-settings & {
        display: none;
    }
    .container {
        max-width: 905px;
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }
    // .block-add-publication__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    // .block-add-publication__edit

    &__edit {
        display: flex;
        gap: 10px;
        align-items: center;
        background: var(--color-blue-grey);
        margin: 0px 0px 30px 0px;
        border-radius: 8px;
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
        transition: opacity 0.3s;
        @media (max-width: 550px) {
            font-size: 12px;
        }
        @media (max-width: 480px) {
            width: 100%;
            justify-content: center;
        }
        svg {
            transform: rotate(-90deg);
        }
        &:hover {
            opacity: 0.7;
        }
    }
}
.form-add-publication {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    @media (max-width: 768px) {
        gap: 30px;
    }
    .textarea {
        border: 1px solid var(--color-grey);
        border-radius: 10px;
        padding: 10px;
        min-height: 100px;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        color: var(--color-black);
        width: 100%;
        resize: none;
        transition:
            box-shadow 0.3s,
            border 0.3s,
            height 0.2s;
        &::placeholder {
            color: var(--color-grey2-dlya-dop-teksta);
        }
        &.textarea-title {
            min-height: 54px;
            height: auto;
            font-weight: 600;
            font-size: 28px;
            line-height: 120%;
            overflow: hidden;
            &::placeholder {
                color: var(--color-black);
            }
            @media (max-width: 650px) {
                font-size: 24px;
            }
        }
        &.textarea-main {
            min-height: 336px;
            height: auto;
            overflow: hidden;
        }
        &._form-focus {
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
            border: 1px solid var(--color-red);
        }
    }
    // .form-add-publication__input

    &__input {
        display: flex;
        gap: 20px;
        @media (max-width: 650px) {
            flex-direction: column;
        }
    }

    // .form-add-publication__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 135%;
            @media (max-width: 550px) {
                font-size: 12px;
            }
            a {
                text-decoration: underline;
                text-decoration-skip-ink: none;
                color: var(--color-red);
                transition: opacity 0.3s;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    // .form-add-publication__title

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
    }
    // .form-add-publication__files

    &__files {
        flex: 0 0 206px;
        height: 100px;
        position: relative;
        @media (max-width: 650px) {
            display: flex;
            flex-direction: column;
            flex: 1 1 auto;
            align-items: center;
            height: 100%;
        }
        &.active {
            @media (max-width: 650px) {
                height: 133px;
            }
            .previews {
                display: block;
            }
        }
        .previews {
            position: absolute;
            top: 4px;
            left: 0;
            width: 100%;
            height: calc(100% - 8px);
            z-index: 10;
            display: none;
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            border-top: none;
            border-radius: 10px;
            @media (max-width: 650px) {
                top: 0;
                height: 100%;
            }
            .preview-item {
                height: 100%;
                border-radius: 10px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .preview-remove {
                font-size: 18px;
                color: var(--color-base);
                &::before {
                    content: "";
                    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNCAxNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMC43NSAwLjc1TDEyLjc1IDEyLjc1IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiAvPgogIDxwYXRoIGQ9Ik0xMi43NSAwLjc1TDAuNzQ5OTk5IDEyLjc1IiBzdHJva2U9IndoaXRlIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiAvPgo8L3N2Zz4K");
                    background-repeat: no-repeat;
                    background-position: center;
                    background-size: 14px 14px;
                    width: 14px;
                    height: 14px;
                }
            }
        }
    }

    // .form-add-publication__file

    &__file {
        padding: 10px 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        position: relative;
        @media (max-width: 650px) {
            width: auto;
            padding: 0px 0px 0px 0px;
        }
        input {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
        .button {
            width: 100%;
        }
        span {
            font-weight: 400;
            font-size: 14px;
            color: var(--color-grey2-dlya-dop-teksta);
            @media (max-width: 650px) {
                font-weight: 700;
            }
        }
    }
}

.add-video {
    position: fixed;
    border: 1px solid var(--color-grey);
    border-radius: 10px;
    overflow: hidden;
    right: 20px;
    bottom: 20px;
    z-index: 20;
    width: 400px;
    background: var(--color-base);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    &.active {
        opacity: 1;
        pointer-events: auto;
    }
    @media (max-width: 992px) {
        right: 10px;
        bottom: 10px;
    }
    @media (max-width: 550px) {
        width: 100%;
        right: 0;
        bottom: 0;
        box-shadow: 0 -4px 10px 0 rgba(0, 0, 0, 0.1);
    }
    // .add-video__top

    &__top {
        border-bottom: 1px solid var(--color-grey);
        padding: 20px;
        background: var(--color-base);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
    }

    // .add-video__title

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
    }

    // .add-video__close

    &__close {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            fill: var(--color-black);
            transition: fill 0.3s;
        }
        &:hover {
            fill: var(--color-red);
        }
    }

    // .add-video__body

    &__body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        .button-red {
            width: 100%;
            min-height: 39px;
            &.disabled {
                border: 1px solid transparent;
                color: var(--color-grey2-dlya-dop-teksta);
                pointer-events: none;
                background: var(--color-light-gray);
            }
        }
    }

    // .add-video__step

    &__step {
        border: 1px solid var(--color-grey);
        border-radius: 10px;
        padding: 20px;
        background: var(--color-base);
        height: 230px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        gap: 10px;
        position: relative;
        display: none;
        @media (max-width: 550px) {
            height: 150px;
        }
        input {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
        &.active {
            display: flex;
        }
        &.step4 {
            padding: 0px 0px 0px 0px;
        }
    }

    // .add-video__pic1

    &__pic1 {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // .add-video__play

    &__play {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--color-black);
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        img {
            width: 10px;
            height: 13px;
            margin: 0px 0px 0px 2px;
        }
    }

    // .add-video__icon

    &__icon {
        width: 24px;
        height: 24px;
        img {
            width: 24px;
            height: 24px;
        }
    }

    // .add-video__name

    &__name {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
    }

    // .add-video__subtitle

    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        color: var(--color-grey2-dlya-dop-teksta);
    }
}

.popup-settings-publication2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 150;
    background-color: var(--color-base);
    display: none;

    .open-settings & {
        display: flex;
    }

    .popup-settings-publication__body {
        padding: 0px 0px 0px 0px;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    // .popup-settings-publication2__content

    &__content {
        display: flex;
        flex-direction: column;
        padding: 20px 10px 20px 10px;
        width: 100%;
    }
}
