.block-custom-club-notes {
    padding: 20px 0px 0px 0px;
    .container {
        max-width: 820px;
    }
    .share-thoughts {
        display: flex;
        padding: 0px 0px 20px 0px;
    }
}
