.block-custom-club-archive {
    padding: 20px 0px 50px 0px;
    .container {
        max-width: 820px;
    }
    .left-tabs-history__descr {
        margin: 0px 0px 10px 0px;
    }
    .left-tabs-history__item {
        @media (max-width: 992px) {
            padding: 20px 10px 16px 10px;
        }
        &:hover {
            .post-icon {
                opacity: 1;
                pointer-events: auto;
            }
        }
        .post-icon {
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;
            @media (max-width: 992px) {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
    .left-tabs-history__title {
        font-weight: 700;
        @media (max-width: 768px) {
            font-size: 18px;
            margin: 0px 0px 10px 0px;
        }
    }
    .left-tabs-history__titles {
        p {
            @media (max-width: 768px) {
                line-height: 135%;
                margin: 0px 0px 10px 0px;
            }
        }
    }
    .post__footer {
        @media (max-width: 768px) {
            gap: 20px;
        }
    }

    // .block-custom-club-archive__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        margin: 0px 0px 20px 0px;
        .select1 {
            width: 145px;
            flex: 0 0 145px;
            @media (max-width: 550px) {
                flex: 0 0 24px;
                width: 24px;
            }
        }
    }

    // .block-custom-club-archive__nav

    &__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }

    // .block-custom-club-archive__title

    &__title {
        border-radius: 10px;
        padding: 10px;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        border-radius: 6px;
        transition: background-color 0.3s;
        &:hover {
            background-color: var(--color-light-gray);
        }
        &.active {
            background-color: var(--color-light-gray);
        }
        @media (max-width: 550px) {
            font-size: 14px;
        }
    }
}
