@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    font-display: swap;
    src: url("../fonts/Manrope-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Manrope;
    font-display: swap;
    src: url("../fonts/Manrope-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

//Cormorant
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Cormorant;
    font-display: swap;
    src: url("../fonts/Cormorant-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}

//UbuntuMono
@font-face {
    font-family: UbuntuMono;
    font-display: swap;
    src: url("../fonts/UbuntuMono-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: UbuntuMono;
    font-display: swap;
    src: url("../fonts/UbuntuMono-BoldItalic.woff2") format("woff2");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: UbuntuMono;
    font-display: swap;
    src: url("../fonts/UbuntuMono-Italic.woff2") format("woff2");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: UbuntuMono;
    font-display: swap;
    src: url("../fonts/UbuntuMono-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

//RobotoSlab
@font-face {
    font-family: RobotoSlab;
    font-display: swap;
    src: url("../fonts/RobotoSlab-Thin.woff2") format("woff2");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: RobotoSlab;
    font-display: swap;
    src: url("../fonts/RobotoSlab-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: RobotoSlab;
    font-display: swap;
    src: url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: RobotoSlab;
    font-display: swap;
    src: url("../fonts/RobotoSlab-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: RobotoSlab;
    font-display: swap;
    src: url("../fonts/RobotoSlab-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: RobotoSlab;
    font-display: swap;
    src: url("../fonts/RobotoSlab-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: RobotoSlab;
    font-display: swap;
    src: url("../fonts/RobotoSlab-ExtraBold.woff2") format("woff2");
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: RobotoSlab;
    font-display: swap;
    src: url("../fonts/RobotoSlab-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: RobotoSlab;
    font-display: swap;
    src: url("../fonts/RobotoSlab-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
}

//Prata
@font-face {
    font-family: Prata;
    font-display: swap;
    src: url("../fonts/Prata-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
