@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: Inter;
    font-display: swap;
    src: url("../fonts/Inter-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Manrope;
    font-display: swap;
    src: url("../fonts/Manrope-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: Manrope;
    font-display: swap;
    src: url("../fonts/Manrope-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
