.buttons-club-about {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    // .buttons-club-about__button

    &__button {
        position: relative;
        flex: 0 0 auto;
        &.active {
            .dropdown {
                opacity: 1;
                pointer-events: auto;
            }
        }
        .dropdown {
            opacity: 0;
            pointer-events: none;
            position: absolute;
            top: 100%;
            width: 260px;
            padding: 10px 0px 0px 0px;
            z-index: 20;
            right: -14px;
            bottom: auto;
            margin: 0px 0px 0px 0px;
            @media (max-width: 992px) {
                right: 0;
                width: 242px;
            }
        }
    }

    // .buttons-club-about__title

    &__title {
        border: 1px solid var(--color-grey);
        border-radius: 10px;
        padding: 5px 14px 5px 10px;
        height: 33px;
        font-weight: 400;
        font-size: 14px;
        gap: 8px;
        display: flex;
        align-items: center;
    }
}

.button-red {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 131%;
    background-color: var(--color-red);
    border: 1px solid var(--color-red);
    color: var(--color-base);
    border-radius: 8px;
    padding: 10px 20px;
    transition:
        background-color 0.3s,
        color 0.3s;
    &:hover {
        color: var(--color-red);
        background-color: transparent;
    }
    &.disabled {
        border: 1px solid transparent;
        background-color: var(--color-blue-grey);
        pointer-events: none;
        color: var(--color-purple);
    }
}

.block-custom-club-about {
    padding: 20px 0px 130px 0px;
    .container {
        max-width: 905px;
    }

    // .block-custom-club-about__subscribe

    &__subscribe {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 443px;
        margin: 0 auto;
        padding: 30px 0px 0px 0px;
        p {
            font-family: "Inter", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 135%;
            text-align: center;
        }
    }

    // .block-custom-club-about__subscribe2

    &__subscribe2 {
        font-family: "Inter", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 135%;
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .block-custom-club-about__code

    &__code {
        width: 100%;
        margin: 30px 0px 0px 0px;
        input {
            font-family: "Inter", sans-serif;
            border-radius: 10px;
            padding: 5px 20px;
            height: 60px;
            width: 100%;
            background: var(--color-light-gray);
            font-family: var(--third-family);
            font-weight: 400;
            font-size: 16px;
        }
    }

    // .block-custom-club-about__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    // .block-custom-club-about__column

    &__column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;
        .button-red {
            text-decoration: none;
            width: fit-content;
            margin: 0 auto;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 135%;
            width: 100%;
            a {
                text-decoration: underline;
                text-decoration-skip-ink: none;
                transition: color 0.3s;
                &:hover {
                    color: var(--color-red);
                }
            }
        }
    }

    // .block-custom-club-about__title

    &__title {
        font-weight: 600;
        line-height: 120%;
        font-size: 24px;
        width: 100%;
        &.title3 {
            font-size: 28px;
            padding: 0px 0px 0px 0px;
            @media (max-width: 768px) {
                font-size: 20px;
            }
        }
        @media (max-width: 768px) {
            font-size: 28px;
        }
    }

    // .block-custom-club-about__line

    &__line {
        height: 1px;
        width: 100%;
        background-color: var(--color-grey);
        margin: 30px 0px 20px 0px;
    }

    // .block-custom-club-about__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        @media (max-width: 768px) {
            gap: 30px;
        }
        .header__title {
            display: none;
            span {
                @media (max-width: 768px) {
                    display: block;
                }
            }
            @media (max-width: 768px) {
                white-space: wrap;
                margin: -10px 0px 0px 0px;
                font-family: var(--font-family);
                font-size: 18px;
                line-height: 120%;
                text-align: center;
                font-weight: 600;
                display: block !important;
                position: relative;
                top: 0;
                left: 0;
                transform: translate(0, 0);
            }
        }
    }
}

.block-custom-club-welcome__form {
    width: 100%;
    display: flex;
    height: 39px;
    input {
        font-family: "Inter", sans-serif;
        width: 100%;
        flex: 1 1 auto;
        border-top: 1px solid var(--color-grey);
        border-bottom: 1px solid var(--color-grey);
        border-left: 1px solid var(--color-grey);
        border-right: none;
        border-radius: 8px 0 0 8px;
        padding: 5px 12px;
        font-weight: 400;
        font-size: 14px;
        &::placeholder {
            color: var(--color-grey2-dlya-dop-teksta);
        }
        &.filled {
            border-top: 1px solid var(--color-red);
            border-bottom: 1px solid var(--color-red);
            border-left: 1px solid var(--color-red);
        }
    }
    .button-red {
        margin: 0px 0px 0px 0px;
        flex: 0 0 auto;
        border-radius: 0 8px 8px 0;
        height: 39px;
        padding: 5px 20px;
    }
}
