.block-history {
    padding: 50px 0px;
    @media (max-width: 768px) {
        padding: 20px 0px;
    }
    .container {
        max-width: 1279px;
        margin: 0px 43px 0px 0px;
        margin-left: auto;
        @media (min-width: 1921px) {
            max-width: 820px;
            margin: 0 auto;
        }
        &.history-liked {
            .block-history__content {
                max-width: 824px;
                @media (max-width: 992px) {
                    max-width: 100%;
                }
            }
            .tabs-history__right {
                display: none;
            }
            .tabs-history__left {
                margin: 0px 0px 0px 0px;
            }
        }
    }
    // .block-history__content

    &__content {
        position: relative;
    }
}

.tabs-history {
    // .tabs-history__navigation

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
        margin: 0px 0px 50px 0px;
        @media (max-width: 992px) {
            margin: 0px 0px 47px 0px;
        }
        @media (max-width: 768px) {
            gap: 15px;
        }
        @media (max-width: 480px) {
            flex-direction: column;
        }
    }

    // .tabs-history__title

    &__title {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 0 1 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 131%;
        border: 1px solid var(--color-black);
        border-radius: 8px;
        padding: 10px 20px;
        transition:
            background-color 0.3s,
            color 0.3s;
        &:hover {
            color: var(--color-base);
            background-color: var(--color-black);
        }
        &._tab-active {
            pointer-events: none;
            color: var(--color-base);
            background-color: var(--color-black);
        }
        @media (max-width: 480px) {
            width: 100%;
        }
    }

    // .tabs-history__subnavigation

    &__subnavigation {
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: 0px 0px 25px 0px;
        @media (max-width: 768px) {
            justify-content: center;
            margin: 0px 0px 30px 0px;
        }
    }

    // .tabs-history__subtitle

    &__subtitle {
        border-radius: 50px;
        padding: 10px 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 0 1 auto;
        font-weight: 400;
        font-size: 16px;
        line-height: 131%;
        border: 1px solid transparent;
        color: #363737;
        transition:
            border 0.3s,
            color 0.3s;
        &._tab-active {
            pointer-events: none;
            border: 1px solid var(--color-black);
            color: var(--color-red);
        }
        &:hover {
            color: var(--color-red);
        }
    }

    // .tabs-history__content

    &__content {
    }

    // .tabs-history__body

    &__body {
        display: none;
        &._tab-active {
            display: block;
        }
    }

    // .tabs-history__items

    &__items {
        position: relative;
        display: flex;
        justify-content: center;
        justify-content: space-between;
        gap: 50px;
        @media (max-width: 1200px) {
            gap: 20px;
        }
    }

    // .tabs-history__left

    &__left {
        flex: 1 1 auto;
        @media (max-width: 1920px) {
            margin: 0px 459px 0px 0px;
        }
        @media (max-width: 1250px) {
            margin: 0px 350px 0px 0px;
        }
        @media (max-width: 1200px) {
            margin: 0px 320px 0px 0px;
        }
        @media (max-width: 992px) {
            margin: 0px 0px 0px 0px;
        }
    }

    // .tabs-history__right

    &__right {
        flex: 0 0 409px;
        border-left: 1px solid #dcdcdc;
        padding: 40px 0px 0px 20px;
        @media (max-width: 1250px) {
            flex: 0 0 300px;
        }
        @media (max-width: 992px) {
            flex: 1 1 auto;
            border-left: none;
            padding: 0px 0px 40px 0px;
        }
    }
}

.calendar-tabs-history {
    // .calendar-tabs-history__button

    &__button {
        display: flex;
        align-items: center;
        font-weight: 700;
        font-size: 16px;
        gap: 6px;
        margin: 0px 0px 9px 0px;
        svg {
            fill: var(--color-red);
        }
        @media (max-width: 768px) {
            margin: 0px 0px 25px 0px;
        }
    }
}

.links-tabs-history {
    position: absolute;
    top: -20px;
    right: 20px;
    border: 1px solid var(--color-grey);
    border-radius: 8px;
    padding: 10px 15px;
    display: flex;
    width: auto;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    align-items: center;
    background: #f8f8f8;
    gap: 10px;
    z-index: 20;
    // .links-tabs-history__button

    &__button {
        cursor: pointer;
        .icon1 {
        }
        svg {
            fill: var(--color-grey);
            transition: fill 0.3s;
        }
        .icon2 {
            display: none;
        }
        &:hover {
            svg {
                fill: var(--color-black);
            }
        }
        &._active {
            svg {
                fill: var(--color-red);
            }
            .icon1 {
                display: none;
            }
            .icon2 {
                display: block;
            }
        }
    }

    // .links-tabs-history__link

    &__link {
        position: relative;
        span {
            position: absolute;
            top: 110%;
            right: -47px;
            border-radius: 5px;
            width: 188px;
            background: var(--color-grey);
            pointer-events: none;
            font-weight: 400;
            font-size: 12px;
            color: var(--color-base);
            padding: 5px 4px 5px 9px;
            display: flex;
            align-items: center;
            opacity: 0;
            transition: opacity 0.3s;
            @media (max-width: 992px) {
                width: 100px;
                right: -20px;
            }
        }
        &:hover {
            span {
                opacity: 1;
            }
        }
    }
}

.right-tabs-history {
    @media (min-width: 1921px) {
        position: absolute;
        left: calc(100% + 50px);
        top: 93px;
        width: 409px;
        height: 100%;
    }
    @media (max-width: 1920px) {
        position: absolute;
        right: 0;
        top: 93px;
        width: 409px;
        height: 100%;
    }
    @media (max-width: 1250px) {
        width: 300px;
    }
    @media (max-width: 992px) {
        position: relative;
        top: 0;
        width: 100%;
    }
    // .right-tabs-history__sticky

    &__sticky {
        position: sticky;
        top: 0;
        @media (max-width: 992px) {
            position: relative;
        }
    }

    // .right-tabs-history__search

    &__search {
        display: flex;
        align-items: center;
        margin: 0px 0px 55px 0px;
        border-bottom: 1px solid #777;
        padding: 0px 0px 10px 0px;
        position: relative;
        @media (max-width: 992px) {
            margin: 0px 0px 35px 0px;
        }
        input {
            padding: 0px 30px 0px 0px;
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 131%;
            &::placeholder {
                color: var(--color-grey);
            }
        }
    }

    // .right-tabs-history__search-icon

    &__search-icon {
        margin: 0px 10px 0px 0px;
        svg {
            fill: var(--color-black);
            transition: fill 0.3s;
        }
        &:hover {
            svg {
                fill: var(--color-red);
            }
        }
        @media (max-width: 480px) {
            display: none;
        }
    }

    // .right-tabs-history__close

    &__close {
        position: absolute;
        right: 0;
        top: 6px;
        svg {
            fill: var(--color-grey);
            transition: fill 0.3s;
        }
        &:hover {
            svg {
                fill: var(--color-black);
            }
        }
    }

    // .right-tabs-history__remove

    &__remove {
        cursor: pointer;
        display: flex;
        gap: 10px;
        font-weight: 400;
        font-size: 15px;
        line-height: 140%;
        transition: color 0.3s;
        svg {
            margin: -1px 0px 0px 0px;
            fill: var(--color-red);
        }
        &:hover {
            color: var(--color-red);
        }
        @media (max-width: 992px) {
            justify-content: center;
            width: 100%;
        }
    }
}
