.category {
  padding: 60px 0px 61px 0px;
  @media (max-width: 768px) {
    padding: 40px 0px;
  }
  @media (max-width: 468px) {
    padding: 20px 0px 35px 0px;
  }

  // .category__navigation

  &__navigation {
  }

  // .category__body

  &__body {
    margin: 23px 0px 0px 0px;
  }

  // .category__content

  &__content {
    position: relative;
  }

  // .category__slider

  &__slider {
    margin: -20px 0px;
    padding: 20px 0px;
    width: 100%;
    &.no-filter {
      min-height: 0px;
    }
    @media (max-width: 992px) {
      margin: -20px -10px;
      padding: 20px 10px;
      width: calc(100% + 20px);
    }
  }

  // .category__wrapper

  &__wrapper {
  }

  // .category__slide

  &__slide {
    display: flex;
    height: auto;
    &._hide {
      display: none;
    }
  }

  // .category__item

  &__item {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
    min-height: 250px;
  }

  // .category__bg

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(75, 55, 39, 0) 0%, #4b3727 50.44%);
  }

  // .category__close

  &__close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    flex: 0 0 24px;
    z-index: 10;
    background-color: transparent;
    transition: background-color 0.3s;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: var(--color-base);
    }
    &:hover {
      background-color: rgba(127, 127, 127, 0.7);
    }
  }

  // .category__image

  &__image {
    display: flex;
    height: 130px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  // .category__header

  &__header {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    z-index: 5;
    padding: 6px 20px 15px 20px;
    @media (max-width: 768px) {
      padding: 6px 20px 20px 20px;
    }
  }

  // .category__top

  &__top {
    flex: 1 1 auto;
    margin: 0px 0px 10px 0px;
  }

  // .category__title

  &__title {
    font-weight: 400;
    font-size: 12px;
    line-height: 133%;
    color: #c8c8c8;
    margin: 0px 0px 5px 0px;
  }

  // .category__subtitle

  &__subtitle {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 700;
    font-size: 16px;
    line-height: 169%;
    color: var(--color-base);
  }

  // .category__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  // .category__dots

  &__dots {
    position: relative;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 24px;
    height: 24px;
    .dots {
      pointer-events: none;
      margin: 0px 0px 5px 0px;
      svg {
        fill: #c8c8c8;
      }
    }
  }

  // .category__text

  &__text {
    font-weight: 700;
    font-size: 12px;
    line-height: 133%;
    color: var(--color-base);
    span {
      font-weight: 400;
      color: #c8c8c8;
    }
  }

  // .category__dots

  &__dots {
    cursor: pointer;
    color: #c8c8c8;
    transition: opacity 0.3s;
    svg {
      fill: currentColor;
    }
    &:hover {
      opacity: 0.8;
    }
  }

  // .category__arrow-prev

  &__arrow-prev {
    left: -30px;
  }

  // .category__arrow-next

  &__arrow-next {
    right: -30px;
  }
}



