.main-wrapper-outer {
  width: 100%;
  min-height: 100%;
  max-width: var(--main-outer-width);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.main {
  flex-grow: 1;
  flex-shrink: 1;
  padding-left: 95px;
  padding-top: 100px;
  overflow: hidden;
  @media (max-width: 1400px) {
    padding-left: 100px;
  }
  @media (max-width: 992px) {
    padding-left: 0px;
    padding-bottom: 77px;
  }
  @media (max-width: 768px) {
    padding-top: 77px;
  }
  @media (max-width: 480px) {
    padding-top: 69px;
  }
  &.main-all-publication {
    overflow: visible;
    @media (max-width: 992px) {
      overflow: hidden;
    }
  }
  &.main-myclub {
    @media (max-width: 1900px) {
      padding-left: 0px;
    }
  }
}


.container {
  margin: 0 auto;
  width: 100%;
  max-width: var(--container-width);
  padding: 0px 10px;
}

.container2 {
  margin: 0 auto;
  width: 100%;
  max-width: 820px;
  padding: 0px 10px;
  @media (max-width: 992px) {
    max-width: 100%;
  }
}
