.block-myclub-utm {
    min-height: 950px;
    .container {
        max-width: 1160px;
    }
    .block-myclub__heading {
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
    }
    .block-myclub__buttons {
        width: auto;
        .button-red {
            width: auto;
            gap: 10px;
            svg {
                fill: var(--color-base);
                transition: fill 0.3s;
            }
            &:hover {
                svg {
                    fill: var(--color-red);
                }
            }
        }
    }
    .tables-block-myclub {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
        overflow: visible;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 1160px) {
            margin: 0px -10px 0px 0px;
            padding: 0px 10px 0px 0px;
            width: calc(100% + 20px);
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .tables-block-myclub__table {
        min-width: 1140px;
        @media (max-width: 768px) {
            min-width: 1080px;
        }
        &:nth-child(n + 2) {
            &:hover {
                .tables-block-myclub__item {
                    background-color: var(--color-base);
                }
            }
            &.active {
                .tables-block-myclub__item {
                    background-color: var(--color-base);
                }
            }
        }
        .tables-block-myclub__item {
            &:nth-child(1) {
                position: relative;
                width: 147px;
                left: 0px;
                z-index: 2;
                box-shadow: none;
            }
        }
        &.open-chart {
            .chart-tables-myclub {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
    .tables-block-myclub__item {
        font-weight: 400;
        &:nth-child(1) {
            flex: 0 0 147px;
        }
        &:nth-child(2) {
            flex: 0 0 88px;
        }
        &:nth-child(3) {
            flex: 0 0 106px;
        }
        &:nth-child(4) {
            flex: 0 0 120px;
        }
        &:nth-child(5) {
            flex: 0 0 110px;
        }
        &:nth-child(6) {
            flex: 0 0 118px;
        }
        &:nth-child(7) {
            flex: 0 0 150px;
        }
        &:nth-child(8) {
            flex: 0 0 300px;
            gap: 20px;
            word-break: break-all;
            @media (max-width: 768px) {
                position: relative;
                flex: 0 0 240px;
            }
        }
        &.main-title {
            font-weight: 400;
        }
        .dots {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            pointer-events: none;
            @media (max-width: 768px) {
                position: absolute;
                left: -10px;
                width: calc(100% + 20px);
                height: 100%;
            }
            svg {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }
        .dropdown {
            right: 0;
            width: 260px;
            @media (max-width: 1160px) {
                position: fixed;
                right: 10px;
                padding: 0px 0px 0px 0px;
                margin: 0px 0px 0px 0px;
            }
            @media (max-width: 400px) {
                width: calc(100% - 20px);
            }
        }
    }
    .dots-tables {
        &.active {
            .dropdown {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

.chart-tables-myclub {
    position: absolute;
    top: 100%;
    left: 0;
    height: 390px;
    width: 100%;
    z-index: 20;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 -2px 10px 0 rgba(0, 0, 0, 0.1);
    background-color: var(--color-base);
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
    @media (max-width: 1160px) {
        position: fixed;
        left: 10px;
        width: calc(100% - 10px);
    }
    // .chart-tables-myclub__top

    &__top {
        display: flex;
        justify-content: space-between;
        padding: 20px 24px 10px 26px;
        gap: 16px;
        @media (max-width: 768px) {
            padding: 20px 10px 10px 10px;
        }
    }

    // .chart-tables-myclub__title

    &__title {
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
    }

    // .chart-tables-myclub__close

    &__close {
        cursor: pointer;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        svg {
            fill: var(--color-black);
            transition: fill 0.3s;
        }
        &:hover {
            svg {
                fill: var(--color-red);
            }
        }
    }

    // .chart-tables-myclub__image

    &__image {
        min-width: 1140px;
        height: 390px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        @media (max-width: 768px) {
            min-width: 1080px;
        }
        img {
            width: 100%;
            height: 100%;
        }
    }
}
