.pin-block-publication {
    display: flex;
    flex-direction: column;
    gap: 10px;
    // .pin-block-publication__column

    &__column {
        display: flex;
        min-height: 140px;
        border: 1px solid var(--color-grey);
        border-radius: 10px;
    }

    // .pin-block-publication__number

    &__number {
        border-radius: 10px 0px 0px 10px;
        flex: 0 0 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 500;
        font-size: 20px;
        padding: 10px;
        background: var(--color-grey);
    }

    // .pin-block-publication__item

    &__item {
        min-width: 0;
        flex: 1 1 auto;
        .dropdown {
            left: auto;
            right: 0;
        }
    }

    // .pin-block-publication__text

    &__text {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
        font-weight: 400;
        font-size: 14px;
        background-color: transparent;
        transition: background-color 0.3s;
        svg {
            fill: var(--color-black);
        }
        &:hover {
            background-color: var(--color-light-gray);
        }
    }
}
