.myclub-subscribers {
    .container {
        max-width: 1260px;
    }
    .block-myclub__content {
        max-width: 885px;
        margin: 0 auto;
    }
}

.subscribers-block-myclub {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin: 50px 0px 0px 0px;
    // .subscribers-block-myclub__title

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }

    // .subscribers-block-myclub__content

    &__content {
        border: 1px solid var(--color-grey);
        border-radius: 10px;
        @media (max-width: 1300px) {
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        @media (max-width: 1260px) {
            margin: 0px -10px 0px 0px;
            padding: 0px 10px 0px 0px;
            width: calc(100% + 20px);
            border-radius: 10px 0px 0px 10px;
        }
    }

    // .subscribers-block-myclub__table

    &__table {
        position: relative;
        display: flex;
        height: 100%;
        transition: background-color 0.3s;
        &:last-child {
            .subscribers-block-myclub__item {
                border-bottom: none;
            }
        }
        @media (max-width: 1300px) {
            .subscribers-block-myclub__item {
                &:nth-child(1) {
                    position: sticky;
                    left: 0;
                    z-index: 10;
                    box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.12);
                }
            }
        }
        &:nth-child(n + 2) {
            &:hover {
                .subscribers-block-myclub__item {
                    background-color: var(--color-light-gray);
                }
            }
            &.active {
                .subscribers-block-myclub__item {
                    background-color: var(--color-light-gray);
                }
                .subscribers-block-myclub__popup {
                    opacity: 1;
                    pointer-events: auto;
                }
            }
        }
    }

    // .subscribers-block-myclub__item

    &__item {
        cursor: pointer;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        border-bottom: 1px solid var(--color-grey);
        border-right: 1px solid var(--color-grey);
        padding: 10px;
        display: flex;
        align-items: center;
        background-color: var(--color-base);
        transition: background-color 0.3s;
        @media (min-width: 1301px) {
            &:nth-child(1) {
                flex: 0 0 12%;
                word-break: break-all;
            }
            &:nth-child(2) {
                flex: 0 0 13.5%;
            }
            &:nth-child(3) {
                flex: 0 0 14.7%;
            }
            &:nth-child(4) {
                flex: 0 0 10.5%;
            }
            &:nth-child(5) {
                flex: 0 0 13%;
            }
            &:nth-child(6) {
                flex: 0 0 11.3%;
            }
            &:nth-child(7) {
                flex: 0 0 13%;
            }
            &:nth-child(8) {
                flex: 0 0 12%;
                border-right: none;
            }
        }
        @media (max-width: 1300px) {
            &:nth-child(1) {
                flex: 0 0 150px;
                word-break: break-all;
            }
            &:nth-child(2) {
                flex: 0 0 170px;
            }
            &:nth-child(3) {
                flex: 0 0 181px;
            }
            &:nth-child(4) {
                flex: 0 0 130px;
            }
            &:nth-child(5) {
                flex: 0 0 160px;
            }
            &:nth-child(6) {
                flex: 0 0 140px;
            }
            &:nth-child(7) {
                flex: 0 0 160px;
            }
            &:nth-child(8) {
                flex: 0 0 150px;
                border-right: none;
            }
        }
        &.red {
            color: var(--color-red);
        }
        &.main-title {
            background-color: var(--color-blue-grey);
            align-items: start;
            justify-content: space-between;
            transition: background-color 0.3s;
            gap: 10px;
            &:nth-child(1) {
                word-break: normal;
            }
            img {
                width: 24px;
                height: 24px;
                opacity: 0;
                transition: opacity 0.3s;
            }
            &:hover {
                background-color: #d1d1eb;
                img {
                    opacity: 1;
                }
            }
        }
    }

    // .subscribers-block-myclub__popup

    &__popup {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: opacity 0.3s;
        right: 12%;
        bottom: calc(100% - 10px);
        border-radius: 10px;
        padding: 20px;
        width: 300px;
        z-index: 30;
        box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.15);
        background: var(--color-base);
        display: flex;
        flex-direction: column;
        gap: 30px;
        &._tippy-open {
            opacity: 1;
            pointer-events: auto;
        }
        @media (max-width: 1300px) {
            margin: 0px 10px 0px 0px;
        }
        @media (max-width: 480px) {
            width: calc(100% - 20px);
            margin: 0px 10px;
        }
    }

    // .subscribers-block-myclub__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .subscribers-block-myclub__input

    &__input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &._form-error {
            input {
                &.calendar {
                    border: 1px solid var(--color-red);
                }
            }
        }
        label {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            &.grey {
                color: var(--color-grey2-dlya-dop-teksta);
            }
        }
        input {
            height: 37px;
            border-radius: 8px;
            width: 100%;
            font-weight: 500;
            font-size: 14px;
            transition: border 0.3s;
            &.disabled {
                border: none;
                padding: 5px 10px;
                pointer-events: none;
                background: var(--color-blue-grey);
            }
            &.calendar {
                display: flex;
                align-items: center;
                position: relative;
                border: 1px solid var(--color-black);
                background: var(--color-base);
                padding: 0px 10px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 16px;
                    height: 16px;
                    background-size: 100%;
                    background-image: url("../img/icon/calendar.svg");
                    filter: invert(215%) sepia(0%) saturate(114%) hue-rotate(178deg) brightness(104%) contrast(185%);
                }
            }
        }
    }

    // .subscribers-block-myclub__error

    &__error {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: var(--color-red);
    }

    // .subscribers-block-myclub__buttons

    &__buttons {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}
