

.top-block-myclub {
    // .top-block-myclub__nav

    &__nav {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 0px;
        @media (max-width: 992px) {
            flex-wrap: nowrap;
            margin: 0px -10px;
            gap: 0px;
            padding: 0px 10px;
            width: calc(100% + 20px);
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    // .top-block-myclub__title

    &__title {
        display: flex;
        align-items: center;
        gap: 6px;
        flex: 0 0 auto;
        font-weight: 400;
        height: 40px;
        padding: 5px 10px;
        font-size: 14px;
        white-space: nowrap;
        border-radius: 10px;
        transition:
            background-color 0.3s,
            color 0.3s;
        &:hover {
            color: var(--color-red);
        }
        &.active {
            background-color: var(--color-light-gray);
            span {
                background: var(--color-red);
                border: 1px solid var(--color-red);
                color: var(--color-base);
            }
        }
        span {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--color-black);
            border-radius: 10px;
            padding: 2px 4px;
            height: 20px;
            min-width: 20px;
            font-weight: 400;
            font-size: 11px;
            color: var(--color-black);
        }
    }
}



