.myclub-subscribers {
    .container {
        max-width: 1260px;
    }
    .block-myclub__content {
        max-width: 885px;
        margin: 0 auto;
    }
}

.subscribers-block-myclub {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0px 0px 0px;

    // .subscribers-block-myclub__top
    &__top {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        @media (max-width: 768px) {
            gap: 30px;
        }
        .subscribers-myclub-filter_button {
            @media (max-width: 768px) {
                flex: 0 0 24px;
                width: 24px;
                height: 24px;
            }
            .center-block-myclub__filter-button {
                transition: background-color 0.3s;
                @media (max-width: 768px) {
                    width: 24px;
                    height: 24px;
                    max-width: 100%;
                    border-radius: 4px;
                    padding: 0px 0px 0px 0px;
                    span {
                        display: none;
                    }
                }
                &:hover {
                    background-color: var(--color-light-gray);
                }
                .subscribers-filter-open & {
                    background-color: var(--color-light-gray);
                }
            }
        }
        .center-block-myclub__select {
            @media (max-width: 768px) {
                flex: 0 0 24px;
                width: 24px;
                height: 24px;
                .select1 {
                    width: 24px;
                    height: 24px;
                }
                .select1__title {
                    width: 24px;
                    height: 24px;
                    padding: 0px 0px 0px 0px;
                    border-radius: 4px;
                }
            }
        }
    }

    // .subscribers-block-myclub__titles

    &__titles {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        width: 100%;
    }

    // .subscribers-block-myclub__title

    &__title {
        font-weight: 500;
        font-size: 20px;
        line-height: 120%;
    }

    // .subscribers-block-myclub__popup

    &__popup {
        opacity: 0;
        pointer-events: none;
        position: absolute;
        transition: opacity 0.3s;
        right: 12%;
        bottom: calc(100% - 10px);
        border-radius: 10px;
        padding: 20px;
        width: 300px;
        z-index: 30;
        box-shadow: 0 2px 15px 2px rgba(0, 0, 0, 0.15);
        background: var(--color-base);
        display: flex;
        flex-direction: column;
        gap: 30px;
        &._tippy-open {
            opacity: 1;
            pointer-events: auto;
        }
        @media (max-width: 1300px) {
            position: fixed;
            right: 0px;
            margin: 0px 10px 0px 0px;
        }
        @media (max-width: 480px) {
            width: calc(100% - 20px);
            margin: 0px 10px;
        }
    }

    // .subscribers-block-myclub__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .subscribers-block-myclub__input

    &__input {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &._form-error {
            input {
                &.calendar {
                    border: 1px solid var(--color-red);
                }
            }
        }
        label {
            font-weight: 500;
            font-size: 14px;
            line-height: 120%;
            &.grey {
                color: var(--color-grey2-dlya-dop-teksta);
            }
        }
        input {
            height: 37px;
            border-radius: 8px;
            width: 100%;
            font-weight: 500;
            font-size: 14px;
            transition: border 0.3s;
            &.disabled {
                border: none;
                padding: 5px 10px;
                pointer-events: none;
                background: var(--color-blue-grey);
            }
            &.calendar {
                display: flex;
                align-items: center;
                position: relative;
                border: 1px solid var(--color-black);
                background: var(--color-base);
                padding: 0px 10px;
                &::after {
                    content: "";
                    position: absolute;
                    top: 10px;
                    right: 10px;
                    width: 16px;
                    height: 16px;
                    background-size: 100%;
                    background-image: url("../img/icon/calendar.svg");
                    filter: invert(215%) sepia(0%) saturate(114%) hue-rotate(178deg) brightness(104%) contrast(185%);
                }
            }
        }
    }

    // .subscribers-block-myclub__error

    &__error {
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        color: var(--color-red);
    }

    // .subscribers-block-myclub__buttons

    &__buttons {
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.filter-subscribers {
    display: none;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    .subscribers-filter-open & {
        display: flex;
    }
    // .filter-subscribers__column

    &__column {
        display: flex;
        gap: 20px;
        max-width: 900px;
        @media (max-width: 768px) {
            align-items: start;
            gap: 10px;
        }
    }

    // .filter-subscribers__items

    &__items {
        flex: 1 1 auto;
        display: flex;
        gap: 20px;
        @media (max-width: 768px) {
            flex-direction: column;
        }
        &.items1 {
            flex-wrap: wrap;
            gap: 20px 0px;
            @media (max-width: 768px) {
                gap: 20px;
            }
            .filter-subscribers__item {
                flex: 0 0 auto;
                margin: 0px 0px 0px 20px;
                @media (max-width: 768px) {
                    flex: 1 1 auto;
                    margin: 0px 0px 0px 0px;
                    &:not(:first-child) {
                        margin: 0px 0px 0px 10px;
                    }
                }
                &.item1 {
                    flex: 0 0 250px;
                    margin: 0px 0px 0px 0px;
                    @media (max-width: 768px) {
                        flex: 1 1 auto;
                    }
                }
            }
        }
    }

    // .filter-subscribers__item

    &__item {
        position: relative;
        .select1 {
            z-index: 1;
            &.active {
                z-index: 50;
                .select1__title {
                    background-color: transparent;
                    svg {
                        transform: rotate(-180deg);
                    }
                }
            }
        }
        .select1__title {
            border: 1px solid var(--color-grey);
            border-radius: 10px;
            width: 100%;
            max-width: 100%;
            height: 44px;
            padding: 5px 18px 5px 12px;
            font-size: 16px;
            span {
                display: block;
            }
            svg {
                transition: transform 0.3s;
            }
            &:hover {
                background-color: transparent;
            }
        }
        .select1__options {
            width: 100%;
            margin: 0px 0px 0px 0px;
            max-height: 352px;
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            .options__label {
                padding: 5px 18px 5px 12px;
                min-height: 44px;
            }
            .options__text {
                font-size: 16px;
            }
        }
        .checkbox {
            @media (max-width: 768px) {
                justify-content: start;
            }
        }
        .checkbox__label {
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid var(--color-grey);
            border-radius: 8px;
            height: 44px;
            padding: 5px 12px;
        }
        .input {
            width: 100%;
            border: 1px solid var(--color-grey);
            border-radius: 8px;
            height: 44px;
            font-weight: 400;
            font-size: 16px;
            padding: 5px 12px;
            &::placeholder {
                color: var(--color-grey2-dlya-dop-teksta);
            }
        }
        .center-block-myclub__input {
            gap: 8px;
            background: var(--color-base);
            border: 1px solid var(--color-grey);
            border-radius: 8px;
            padding: 5px 12px;
            height: 44px;
            &::after {
                content: "";
                filter: brightness(0%) contrast(100%);
            }
            span {
                font-weight: 400;
                font-size: 16px;
            }
            input[type="date"] {
                width: 100%;
                &::placeholder {
                    color: var(--color-grey2-dlya-dop-teksta);
                }
            }
        }
        @media (min-width: 769px) {
            &.item1 {
                flex: 0 0 250px;
            }
            &.item2 {
                flex: 0 0 180px;
            }
            &.item3 {
                flex: 0 1 368px;
            }
            &.item4 {
                flex: 0 1 273px;
            }
            &.item5 {
                flex: 0 0 100px;
            }
            &.item6 {
                flex: 1 1 auto;
            }
        }
        @media (max-width: 768px) {
            &:not(:first-child) {
                margin: 0px 0px 0px 10px;
            }
        }
    }

    // .filter-subscribers__close

    &__close {
        flex: 0 0 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        border-radius: 8px;
        width: 44px;
        height: 44px;
        background-color: transparent;
        transition: background-color 0.3s;
        &:hover {
            background-color: var(--color-light-gray);
        }
        svg {
            fill: var(--color-black);
            @media (max-width: 768px) {
                width: 12px;
                height: 12px;
            }
        }
        @media (max-width: 768px) {
            width: 24px;
            height: 24px;
            flex: 0 0 24px;
            border-radius: 4px;
        }
    }

    // .filter-subscribers__buttons

    &__buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        @media (max-width: 550px) {
            flex-direction: column;
            justify-content: center;
        }
    }

    // .filter-subscribers__add

    &__add {
        min-height: 37px;
        border-radius: 10px;
        padding: 5px 10px;
        border: 1px solid var(--color-grey);
        gap: 7px;
        svg {
            fill: currentColor;
        }
        &:hover {
            color: var(--color-black);
            border: 1px solid var(--color-grey);
            background-color: var(--color-light-gray);
            svg {
                fill: var(--color-black);
            }
        }
    }

    // .filter-subscribers__button

    &__button {
        display: flex;
        gap: 20px;
        @media (max-width: 550px) {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
        .button-red {
            &.disabled {
                pointer-events: none;
                border: 1px solid transparent;
                color: var(--color-grey2-dlya-dop-teksta);
                background: var(--color-light-gray);
            }
        }
    }
}
