body::after {
    content: "";
    background-color: rgba(5, 5, 5, 0.6);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease 0s;
    pointer-events: none;
    z-index: 149;
}
.popup-show body::after {
    opacity: 1;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 30px 10px;
    transition: visibility 0.8s ease 0s;
    visibility: hidden;
    pointer-events: none;
    @media (max-width: 768px) {
        margin: 70px 0px 0px 0px;
        padding: 0px;
    }
}
.popup_show {
    z-index: 150;
    visibility: visible;
    overflow: auto;
    pointer-events: auto;
}
.popup_show .popup__content {
    visibility: visible;
    transform: scale(1);
}
.popup__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 768px) {
        justify-content: flex-end;
    }
}
.popup__content {
    visibility: hidden;
    transform: scale(0);
    transition: transform 0.3s ease 0s;
    background: var(--color-base);
    width: 100%;
    max-width: 700px;
    border-radius: 8px;
    min-height: 375px;
    @media (max-width: 768px) {
        width: 100%;
        max-width: 100%;
        border-radius: 8px 8px 0px 0px;
    }
}

.popup__close {
    position: absolute;
    top: -5px;
    right: -20px;
    background: transparent;
    transition: opacity 0.3s;
    &:hover {
        opacity: 0.8;
    }
    @media (max-width: 768px) {
        display: none;
    }
}

//Поиск
.search-popup {
    display: flex;
    flex-direction: column;
    height: 100%;

    // .search-popup__top

    &__top {
        display: flex;
        align-items: center;
        padding: 0px 20px 0px 0px;
        border-bottom: 1px solid var(--color-grey);
        input {
            padding: 23px 20px 18px 10px;
            width: 100%;
            font-weight: 400;
            font-size: 16px;
            line-height: 131%;
            background-color: transparent;
            width: 100%;
            &::placeholder {
                color: var(--color-grey);
            }
        }
    }

    // .search-popup__search-icon

    &__search-icon {
        padding: 24px 0px 19px 20px;
    }

    // .search-popup__body

    &__body {
        display: flex;
        flex-direction: column;
    }

    // .search-popup__titles

    &__titles {
        flex: 1 1 306px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 93px 0px 0px 0px;
        svg {
            margin: 0px 0px 8px 0px;
        }
    }

    // .search-popup__title

    &__title {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-weight: 700;
        font-size: 16px;
        line-height: 169%;
        span {
            font-weight: 400;
            line-height: 131%;
            color: var(--color-grey);
        }
    }

    // .search-popup__simplebar

    &__simplebar {
        height: 510px;
        @media (max-width: 768px) {
            height: 400px;
        }
    }

    // .search-popup__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px 0px;
        padding: 20px 30px 30px 20px;
    }

    // .search-popup__column

    &__column {
        display: flex;
        transition: opacity 0.3s;
        &:hover {
            opacity: 0.8;
        }
    }

    // .search-popup__image

    &__image {
        flex: 0 0 60px;
        margin: 0px 10px 0px 0px;
        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }

    // .search-popup__header

    &__header {
        transition: color 0.3s;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        margin: 5px 0px 0px 0px;
        span {
            font-weight: 400;
            font-size: 12px;
            line-height: 133%;
            color: var(--color-grey);
        }
    }

    // .search-popup__name

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 169%;
        color: var(--color-red);
    }
}

//Поделится мнением
.popup-share-thoughts {
    padding: 20px 20px 25px 20px;
    display: flex;
    flex-direction: column;
    min-height: 375px;
    @media (max-width: 768px) {
        padding: 67px 10px 10px 10px;
        min-height: 100%;
        height: 100%;
    }
    // .popup-share-thoughts__top

    &__top {
        display: flex;
        align-items: center;
        margin: 0px 0px 16px 0px;
        width: 100%;
    }

    // .popup-share-thoughts__image

    &__image {
        flex: 0 0 40px;
        margin: 0px 10px 0px 0px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
        }
    }

    &__comment {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    // .popup-share-thoughts__name

    &__name {
        font-weight: 700;
        font-size: 16px;
        line-height: 169%;
        color: var(--color-red);
    }

    // .popup-share-thoughts__textarea

    &__textarea {
        width: 100%;
        flex: 1 1 auto;
        textarea {
            padding: 12px 20px 16px 74px;
            width: 100%;
            resize: none;
            font-weight: 400;
            font-size: 15px;
            line-height: 135%;
            min-height: 52px;
            max-height: 611px;
            background-color: var(--color-base);
            overflow: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            &::placeholder {
                color: var(--color-grey);
            }
            @media (max-width: 768px) {
                max-height: 313px;
                font-size: 12px;
                padding: 16px 20px;
            }
        }
    }

    // .popup-share-thoughts__bottom

    &__bottom {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        height: 100%;
        border-top: 1px solid var(--color-grey);
        margin: 20px 0px 0px 0px;
        padding: 20px 0px 0px 0px;
        @media (max-width: 768px) {
            height: auto;
        }
    }

    // .popup-share-thoughts__files

    &__files {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    // .popup-share-thoughts__file

    &__file {
        position: relative;
        input {
            position: absolute;
            opacity: 0;
            width: 100%;
            height: 100%;
        }
    }

    // .popup-share-thoughts__buttons

    &__buttons {
        display: flex;
        gap: 20px;
        width: 100%;
        justify-content: flex-end;
    }

    // .popup-share-thoughts__public

    &__public {
        &.disabled {
            color: #adadd8;
            background-color: var(--color-blue-grey);
            pointer-events: none;
            border: 1px solid transparent;
        }
    }

    // .popup-share-thoughts__cancel

    &__cancel {
        svg {
            display: none;
        }
        @media (max-width: 768px) {
            position: absolute;
            top: 16px;
            left: 10px;
            border-radius: 4px;
            background-color: var(--color-blue-grey);
            border: 1px solid transparent;
            width: 24px;
            height: 24px;
            padding: 0px 0px 0px 0px;
            z-index: 15;
            span {
                display: none;
            }
            svg {
                display: block;
                transform: rotate(90deg);
            }
            &:hover {
                svg {
                    fill: var(--color-red);
                }
            }
        }
    }

    // .popup-share-thoughts__clear

    &__clear {
        border: 1px solid transparent;
        background-color: var(--color-blue-grey);
        color: var(--color-red);
        &.disabled {
            color: #adadd8;
            background-color: var(--color-blue-grey);
            pointer-events: none;
        }
        @media (max-width: 768px) {
            position: absolute;
            top: 10px;
            right: 10px;
            z-index: 15;
        }
    }

    // .popup-share-thoughts__error

    &__error {
        position: fixed;
        right: 50px;
        bottom: 50px;
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        background: var(--color-base);
        border-radius: 10px;
        padding: 10px;
        width: 458px;
        padding: 10px;
        z-index: 25;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        img {
            width: 24px;
            height: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0px 10px 0px 0px;
        }
        &._active {
            opacity: 1;
            pointer-events: auto;
        }
        &.desct {
            @media (max-width: 992px) {
                display: none;
                &._active {
                    display: none;
                }
            }
        }
        &.mob {
            @media (min-width: 992px) {
                display: none;
            }
        }
        @media (max-width: 1200px) {
            right: 20px;
            bottom: 20px;
        }
        @media (max-width: 992px) {
            display: none;
            width: auto;
            position: relative;
            right: 0;
            bottom: 0;
            margin: 20px 0px 0px 50px;
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
            &._active {
                display: flex;
            }
        }
        @media (max-width: 768px) {
            margin: 10px 0px 0px 0px;
        }
    }
}
#share-thoughts {
    @media (max-width: 768px) {
        margin: 0px 0px 0px 0px;
    }
    .popup__content {
        @media (max-width: 768px) {
            min-height: 100%;
            border-radius: 0px;
        }
    }
}
.previews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px 0px 0px 50px;
    margin: 20px 0px 0px 0px;
    border-top: 1px solid var(--color-grey);
    gap: 10px;
    display: none;
    &._active {
        display: grid;
    }
    @media (max-width: 768px) {
        padding: 10px 0px 0px 0px;
        margin: 10px 0px 0px 0px;
    }
    .preview-item {
        position: relative;
        width: 100%;
        height: 145px;
        border-radius: 10px;
        overflow: hidden;
        &:hover {
            .preview-remove {
                opacity: 1;
                pointer-events: auto;
            }
        }
        .textarea-height & {
            height: 70px;
            @media (max-width: 480px) {
                height: 60px;
            }
        }
        @media (max-width: 768px) {
            height: 90px;
        }
    }
    .preview-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .preview-remove {
        @media (max-width: 768px) {
            width: 16px;
            height: 16px;
            border-radius: 4px;
            svg {
                width: 12px;
                height: 12px;
            }
        }
    }
}

.citation {
    position: absolute;
    top: 22px;
    right: 56px;
    display: flex;
    align-items: start;
    @media (max-width: 992px) {
        right: 16px;
        top: 18px;
    }
    p {
        background: #f2f2f2;
        border-radius: 50px;
        padding: 10px 20px;
        font-weight: 400;
        font-size: 13px;
        line-height: 123%;
        margin: 12px 0px 0px 0px;
        @media (max-width: 992px) {
            padding: 6px 10px;
        }
    }
    // .citation__close

    &__close {
        cursor: pointer;
        svg {
            fill: var(--color-black);
        }
    }
}

#edit {
    @media (max-width: 768px) {
        margin: 0px 0px 0px 0px;
    }
    .popup__content {
        @media (max-width: 768px) {
            min-height: 100%;
            border-radius: 0px;
        }
    }
}

#comment {
    .popup__content {
        max-width: 908px;
    }
    .popup-share-thoughts {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding: 30px 50px;
        @media (max-width: 992px) {
            padding: 68px 10px 10px 10px;
        }
    }
    .popup-share-thoughts__name {
        color: var(--color-black);
    }
    .post__content {
        position: relative;
        border-bottom: none;
        padding: 20px 0px 0px 0px;
        margin: 0px 0px 0px 50px;
        @media (max-width: 992px) {
            margin: 0px 0px 0px 0px;
        }
    }
    .post__slider {
        @media (max-width: 992px) {
            padding: 0px 0px 0px 0px;
            margin: 0px 0px 0px 0px;
            width: 100%;
        }
        @media (max-width: 768px) {
            padding: 0px 10px;
            margin: 0px -10px;
            width: calc(100% + 20px);
        }
    }
    .popup-share-thoughts__bottom {
        border-top: none;
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 10px 0px;
    }
    .post__line {
        display: block;
        top: 20px;
        left: -28px;
        height: calc(100% - 20px);
    }
    .popup-share-thoughts__cancel {
        @media (max-width: 768px) {
            position: relative;
            top: 0;
            right: 0;
            border-radius: 9px;
            background-color: transparent;
            border: 1px solid var(--color-black);
            width: auto;
            height: auto;
            padding: 10px 24px;
            z-index: 15;
            left: 0;
            span {
                display: block;
            }
            svg {
                display: none;
            }
        }
    }
    .popup-share-thoughts__buttons {
        @media (max-width: 768px) {
            margin: 0px 0px 0px 0px;
        }
    }
}

#comment .post__content.comment-view-publication {
    img {
        width: 100%;
        height: auto;
    }
    video {
        width: 100%;
        height: auto;
    }
    @media (max-width: 992px) {
        margin: 0px 28px 0px 0px;
    }
}

.previews-video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 20px 0px 0px 50px;
    margin: 20px 0px 0px 0px;
    border-top: 1px solid var(--color-grey);
    display: none;
    &._active {
        display: grid;
    }
    @media (max-width: 768px) {
        padding: 10px 0px 0px 0px;
        margin: 10px 0px 0px 0px;
    }
    @media (max-width: 480px) {
        grid-template-columns: 1fr;
        .textarea-height & {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .preview-item {
        position: relative;
    }
    .preview-item-video {
        position: relative;
        height: 300px;
        overflow: hidden;
        border-radius: 10px;
        &:hover {
            .preview-remove {
                opacity: 1;
                pointer-events: auto;
            }
        }
        .textarea-height & {
            height: 150px;
            @media (max-width: 768px) {
                height: 100px;
            }
        }
        @media (max-width: 768px) {
            height: 221px;
        }
    }
    .preview-video-name {
        display: none;
    }
    .preview-video {
        width: 100%;
        height: 300px;
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        .textarea-height & {
            height: 150px;
            @media (max-width: 768px) {
                height: 100px;
            }
        }
        @media (max-width: 768px) {
            height: 221px;
        }
    }
    .preview-video-thumbnail {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .preview-video-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-color: rgba(197, 197, 197, 0.5);
        .textarea-height & {
            width: 50px;
            height: 50px;
            svg {
                width: 11px;
                height: 13px;
            }
            @media (max-width: 768px) {
                width: 30px;
                height: 30px;
                svg {
                    width: 8px;
                    height: 10px;
                }
            }
        }
        @media (max-width: 768px) {
            width: 50px;
            height: 50px;
            svg {
                width: 11px;
                height: 13px;
            }
        }
    }
}
.preview-remove {
    cursor: pointer;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: var(--color-grey);
    top: 6px;
    right: 6px;
    transition: opacity 0.3s;
    opacity: 0;
    pointer-events: none;
}

//Очистить историю
.remove-history-popup {
    @media (max-width: 768px) {
        padding: 10px;
        margin: 0px 0px 0px 0px;
    }
    .popup__content {
        min-height: 221px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        border-radius: 8px;
        @media (max-width: 768px) {
            min-height: 100%;
        }
    }
    .popup__wrapper {
        @media (max-width: 768px) {
            justify-content: center;
        }
    }
    // .remove-history-popup__title

    &__title {
        font-weight: 400;
        font-size: 15px;
        line-height: 107%;
        text-align: center;
        margin: 0px 0px 35px 0px;
        @media (max-width: 480px) {
            margin: 0px 0px 20px 0px;
        }
    }

    // .remove-history-popup__buttons

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    // .remove-history-popup__button

    &__button {
        width: 152px;
        @media (max-width: 400px) {
            width: 119px;
        }
    }

    // .remove-history-popup__close

    &__close {
        width: 101px;
    }
}

.unsubscribe-popup {
    @media (max-width: 768px) {
        padding: 10px 0px;
        margin: 0px 0px 0px 0px;
    }
    .popup__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
        border-radius: 20px;
        max-width: 560px;
        min-height: 100%;
        @media (max-width: 480px) {
            padding: 30px 10px;
        }
    }
    .popup__wrapper {
        @media (max-width: 768px) {
            justify-content: center;
        }
    }
    // .unsubscribe-popup__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 135%;
            text-align: center;
            span {
                font-weight: 600;
            }
        }
    }

    // .unsubscribe-popup__title

    &__title {
        font-weight: 400;
        font-size: 20px;
        line-height: 135%;
        text-align: center;
        span {
            font-weight: 700;
        }
    }

    // .unsubscribe-popup__buttons

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        @media (max-width: 480px) {
            gap: 10px;
        }
    }

    // .unsubscribe-popup__button

    &__button {
        @media (max-width: 480px) {
            padding: 9px 10px;
        }
    }
}

.registration-popup {
    padding: 20px 0px;

    &.registration-completed {
        .popup__content {
            min-height: 445px;
            display: flex;
            flex-direction: column;
            @media (max-width: 400px) {
                min-height: 549px;
            }
        }
    }
    &.registration-code {
        .popup__content {
            min-height: 600px;
            display: flex;
            flex-direction: column;
            @media (max-width: 400px) {
                min-height: 549px;
            }
        }
    }
    form {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
    }
    .popup__content {
        display: flex;
        flex-direction: column;
        max-width: 560px;
        padding: 30px;
        min-height: 612px;
        border-radius: 20px;
        @media (max-width: 768px) {
            padding: 30px 10px;
        }
    }
    .popup__wrapper {
        justify-content: center;
    }
}

.viewing-mode-popup {
    padding: 30px;
    @media (max-width: 992px) {
        display: none;
    }
    .popup__content {
        border-radius: 30px;
        max-width: 100%;
        height: calc(100vh - 60px);
        overflow: hidden;
        padding: 30px;
    }
    .close {
        position: absolute;
        right: 30px;
        top: 30px;
    }
}
.viewing-mode-tabs {
    // .viewing-mode-tabs__navigation

    &__navigation {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin: 0px 0px 50px 0px;
    }

    // .viewing-mode-tabs__title

    &__title {
        flex: 0 0 auto;
        border-radius: 10px;
        padding: 10px;
        font-weight: 400;
        font-size: 14px;
        &._tab-active {
            background: var(--color-light-gray);
        }
    }

    // .viewing-mode-tabs__content

    &__content {
    }

    // .viewing-mode-tabs__body

    &__body {
        .header {
            position: relative;
            pointer-events: none;
        }
    }

    // .viewing-mode-tabs__items

    &__items {
        border-radius: 40px;
        background: var(--color-base);
        border: 10px solid var(--color-grey);
        margin: 0 auto;
        overflow: hidden;
        height: calc(100vh - 200px);
        &.pc {
            max-width: 1200px;
            .block-view-publication__content {
                padding: 50px 0px 50px 0px;
                .container {
                    max-width: 670px;
                    padding: 0px 10px;
                    pointer-events: none;
                }
            }
            .block-view-publication__bottom {
                pointer-events: none;
                width: 1180px;
                left: 50%;
                border-radius: 0px 0px 40px 40px;
                bottom: 30px;
                transform: translate(-50%, 0px);
                @media (max-width: 1320px) {
                    left: 40px;
                    transform: translate(0px, 0px);
                    width: calc(100% - 80px);
                    max-width: 100%;
                }
            }
            .block-view-publication__simplebar {
                max-height: calc(100vh - 350px);
                padding: 0px;
            }
            .simplebar-view-publication .simplebar-track.simplebar-vertical {
                top: 0;
                right: 20px;
            }
        }
        &.tel {
            max-width: 340px;
            .block-view-publication__content {
                padding: 20px 0px 20px 0px;
                .container {
                    padding: 0px 10px;
                    pointer-events: none;
                }
            }
            .header__left {
                flex: 1 1 auto;
            }
            .header__logo {
                display: flex;
                flex: 0 1 auto;
                img {
                    height: 24px;
                }
            }
            .header__author {
                width: 25px;
                height: 25px;
            }
            .icon-menu {
                display: block;
            }
            .sidebar {
                pointer-events: none;
                top: auto;
                bottom: 32px;
                height: auto;
                left: 50%;
                transform: translate(-50%, 0px);
                width: 320px;
                border-top: 1px solid #dcdcdc;
                border-right: none;
                border-radius: 0px 0px 30px 30px;
                padding: 22px 10px 22px 10px;
                .menu {
                    width: 100%;
                }
                .menu__body {
                    gap: 0px;
                    width: 100%;
                    ul {
                        width: 100%;
                        flex-direction: row;
                        align-items: start;
                        justify-content: space-between;
                        gap: 10px;
                        li {
                            flex: 0 1 auto;
                        }
                    }
                }
                .menu__search {
                    display: none !important;
                }
            }
            .sidebar__logo {
                display: none;
            }
            .block-view-publication__bottom {
                pointer-events: none;
                width: 320px;
                left: 50%;
                border-radius: 0px 0px 0px 0px;
                bottom: 107px;
                height: 80px;
                border-top: none;
                transform: translate(-50%, 0px);
                .post__footer {
                    gap: 50px;
                }
            }
            .block-view-publication__simplebar {
                padding: 0px 0px 350px 0px;
                max-height: calc(100vh - 195px);
                overflow-x: hidden;
            }
            .simplebar-view-publication .simplebar-track.simplebar-vertical {
                opacity: 0;
                pointer-events: none;
            }
            .block-view-publication__simplebar .title1 {
                font-size: 25px;
                margin: 0px 0px 26px 0px;
            }
            .block-view-publication__author {
                padding: 0px 0px 20px 0px;
                margin: 0px 0px 20px 0px;
            }
            .block-view-publication__text {
                padding: 0px 0px 16px 0px;
            }
            .block-view-publication__title1 {
                font-size: 18px;
            }
            .share-thoughts {
                display: none;
            }
            .select1 {
                flex: 0 0 24px;
            }
            .select1__title {
                border: none;
                width: 24px;
                height: 24px;
                padding: 4px;
                border-radius: 0px;
                justify-content: center;
                transition: background-color 0.3s;
            }
            .post-comments-delete__top {
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }
            .post-comments-delete__bottom {
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }
            .post__header {
                align-items: unset;
                margin: 0px 0px 10px 0px;
            }
            .post__right.without-text {
                flex-direction: column;
                justify-content: center;
            }
            .post__content {
                margin: 0px 0px 0px 0px;
            }
            .comments-view-publication .post__footer {
                gap: 30px;
            }
        }
        &.email {
            max-width: 620px;
            .block-view-publication__content {
                padding: 0px 0px 20px 0px;
                .container {
                    padding: 0px 10px;
                    pointer-events: none;
                }
            }
            .block-view-publication__bottom {
                pointer-events: none;
                width: 600px;
                left: 50%;
                border-radius: 0px 0px 30px 30px;
                bottom: 32px;
                height: 60px;
                border-top: none;
                transform: translate(-50%, 0px);
                .post__footer {
                    gap: 50px;
                    padding: 20px 0px 16px 0px;
                }
            }
            .block-view-publication__simplebar {
                padding: 30px 0px 120px 0px;
                max-height: calc(100vh - 320px);
                overflow-x: hidden;
            }
            .simplebar-view-publication .simplebar-track.simplebar-vertical {
                opacity: 0;
                pointer-events: none;
            }
            .block-view-publication__simplebar .title1 {
                font-size: 25px;
                margin: 0px 0px 26px 0px;
            }
            .block-view-publication__author {
                padding: 0px 0px 20px 0px;
                margin: 0px 0px 20px 0px;
            }
            .block-view-publication__text {
                padding: 0px 0px 16px 0px;
            }
            .block-view-publication__title1 {
                font-size: 18px;
            }
            .share-thoughts {
                display: none;
            }
            .select1 {
                flex: 0 0 24px;
            }
            .select1__title {
                border: none;
                width: 24px;
                height: 24px;
                padding: 4px;
                border-radius: 0px;
                justify-content: center;
                transition: background-color 0.3s;
            }
            .post-comments-delete__top {
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }
            .post-comments-delete__bottom {
                flex-direction: column;
                justify-content: start;
                align-items: start;
            }
            .post__header {
                align-items: unset;
                margin: 0px 0px 10px 0px;
            }
            .post__right.without-text {
                flex-direction: column;
                justify-content: center;
            }
            .post__content {
                margin: 0px 0px 0px 0px;
            }
            .comments-view-publication .post__footer {
                gap: 30px;
            }
        }
    }

    // .viewing-mode-tabs__status-bar

    &__status-bar {
        width: 100%;
        height: auto;
    }

    &__item {
    }
}
.viewing-mode-tabs-mail {
    background: var(--color-blue-grey);
    padding: 20px;
    ul {
        display: flex;
        flex-direction: column;
        gap: 16px;
        li {
            display: flex;
            gap: 10px;
        }
    }
    // .viewing-mode-tabs-mail__name

    &__name {
        flex: 0 0 56px;
        font-weight: 400;
        font-size: 14px;
        line-height: 135%;
        color: #8b8bad;
    }

    // .viewing-mode-tabs-mail__value

    &__value {
        font-weight: 600;
        font-size: 14px;
        line-height: 135%;
        span {
            font-weight: 400;
            color: #8b8bad;
        }
    }
}

.popup2 {
    @media (max-width: 768px) {
        padding: 10px;
        margin: 0px 0px 0px 0px;
    }
    .popup__content {
        min-height: 221px;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 50px 40px;
        border-radius: 20px;
        @media (max-width: 600px) {
            min-height: 100%;
            padding: 20px;
        }
    }
    .popup__wrapper {
        @media (max-width: 768px) {
            justify-content: center;
        }
    }

    // .popup2__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 30px;
        p {
            font-weight: 500;
            font-size: 16px;
            line-height: 120%;
            text-align: center;
            @media (max-width: 600px) {
                font-size: 14px;
            }
        }
    }

    // .popup2__title

    &__title {
        font-weight: 500;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        @media (max-width: 600px) {
            font-size: 16px;
        }
    }

    // .popup2__buttons

    &__buttons {
        display: flex;
        justify-content: center;
        gap: 20px;
        @media (max-width: 480px) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }

    // .popup2__button

    &__button {
        flex: 0 0 auto;
        min-height: 39px;
        padding: 5px 20px;
    }

    // .popup2__close

    &__close {
        flex: 0 0 auto;
        min-height: 39px;
        padding: 5px 20px;
    }
}

.popup-settings-publication {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    .popup__content {
        max-width: 100%;
        border-radius: 0px;
        height: 100%;
        min-height: 100vh;
        padding: 20px 0px 78px 0px;
        @media (max-width: 1900px) {
            padding: 20px 10px 78px 10px;
        }
        @media (max-width: 992px) {
            padding: 20px 10px 10px 10px;
        }
    }
    .close2 {
        position: absolute;
        top: 20px;
        right: 20px;
        @media (max-width: 992px) {
            right: 10px;
        }
        @media (max-width: 550px) {
            top: 0px;
            position: relative;
            margin-left: auto;
            right: 0;
            width: 88px;
            margin-bottom: 30px;
        }
    }

    // .popup-settings-publication__top

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        margin: 0px 10px 40px 10px;
        @media (max-width: 992px) {
            margin: 0px 0px 30px 0px;
        }
        .popup-settings-publication__title {
            margin: 0px 0px 0px 0px;
            @media (max-width: 768px) {
                display: none;
            }
        }
        .arrow-next2 {
            background-color: var(--color-light-gray);
            border: 1px solid var(--color-grey);
            transition: background-color 0.3s;
            svg {
                transform: rotate(90deg);
            }
            &:hover {
                background-color: var(--color-base);
            }
        }
    }

    // .popup-settings-publication__body

    &__body {
        padding: 0px 20px 0px 115px;
        max-width: 1020px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 50px;
        align-items: start;
        @media (max-width: 1900px) {
            padding: 0px;
            max-width: 885px;
        }
        @media (max-width: 992px) {
            max-width: 100%;
        }
    }

    // .popup-settings-publication__title

    &__title {
        text-align: center;
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin: 0px 0px 50px 0px;
        @media (max-width: 992px) {
            text-align: left;
            margin: 8px 66px 48px 0px;
        }
        @media (max-width: 768px) {
            font-size: 20px;
        }
        @media (max-width: 550px) {
            display: none;
        }
    }
}
.form-settings-publication {
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    // .form-settings-publication__column

    &__column {
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            font-weight: 300;
            font-size: 14px;
            line-height: 135%;
            margin: -10px 0px 0px 0px;
            button {
                font-weight: 300;
                font-size: 14px;
                line-height: 135%;
                transition: color 0.3s;
                text-decoration: underline;
                text-decoration-skip-ink: none;
                &:hover {
                    color: var(--color-red);
                }
            }
        }
        &.active {
            .form-settings-publication__input {
                display: flex;
            }
        }
    }

    // .form-settings-publication__input

    &__input {
        align-items: center;
        position: relative;
        width: 100%;
        height: 44px;
        border: 1px solid var(--color-grey);
        border-radius: 8px;
        background: var(--color-base);
        padding: 0px 10px;
        width: 270px;
        display: none;
        &::after {
            content: "";
            position: absolute;
            top: 10px;
            right: 10px;
            width: 24px;
            height: 24px;
            background-size: 100%;
            background-image: url("../img/icon/calendar2.svg");
        }
        @media (max-width: 500px) {
            width: 100%;
        }
    }

    // .form-settings-publication__title

    &__title {
        display: flex;
        align-items: center;
        gap: 20px;
        font-weight: 600;
        font-size: 18px;
        line-height: 120%;
    }

    // .form-settings-publication__checkboxes

    &__checkboxes {
        margin: 0px 0px 0px 30px;
        justify-content: start;
        display: none;
        flex-direction: column;
        gap: 20px;
        .checkbox {
            justify-content: start;
        }
        .checkbox__text {
            font-weight: 600;
        }
        &.active {
            display: flex;
        }
    }

    // .form-settings-publication__inputs

    &__inputs {
        display: flex;
        input {
            width: 100%;
            border-bottom: 1px solid var(--color-grey);
            border-left: 1px solid var(--color-grey);
            border-top: 1px solid var(--color-grey);
            border-radius: 8px 0 0 8px;
            padding: 5px 12px;
            height: 39px;
            font-weight: 400;
            font-size: 16px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: inline-block;
            width: 100%;
        }
    }

    // .form-settings-publication__button

    &__button {
        padding: 5px 20px;
        border: 1px solid var(--color-grey);
        border-radius: 0 8px 8px 0;
        flex: 0 0 auto;
        font-weight: 600;
        font-size: 16px;
        background-color: var(--color-base);
        height: 39px;
        transition:
            background-color 0.3s,
            color 0.3s;
        &:hover {
            color: var(--color-base);
            background-color: var(--color-red);
        }
    }
}

.popup-demonstration {
    .popup__content {
        border-radius: 20px;
        max-width: 1430px;
        padding: 60px;
        min-height: 100%;
    }
    .popup__close {
        top: 20px;
        right: 20px;
    }
    // .popup-demonstration__body

    &__body {
        display: flex;
    }

    // .popup-demonstration__left

    &__left {
        min-height: 765px;
        display: flex;
        flex: 1 1 auto;
        padding: 0px 20px 0px 0px;
        border-right: 1px solid var(--color-light-gray);
    }

    // .popup-demonstration__images1

    &__images1 {
        flex: 0 1 312px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-right: 1px solid var(--color-light-gray);
        padding: 0px 20px 0px 0px;
        margin: 0px 20px 0px 0px;
    }

    // .popup-demonstration__image

    &__image {
        background: var(--color-light-gray);
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1 50%;
        font-weight: 400;
        font-size: 150px;
        line-height: 135%;
        color: rgba(53, 53, 53, 0.3);
        border-radius: 10px;
        height: 100%;
        width: 100%;
    }

    // .popup-demonstration__images

    &__images2 {
        flex: 1 1 auto;
        height: 100%;
    }

    // .popup-demonstration__right

    &__right {
        flex: 0 0 321px;
        padding: 0px 0px 0px 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 135%;
            a {
                color: var(--color-red);
                transition: opacity 0.3s;
                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    // .popup-demonstration__title

    &__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 135%;
    }
}

.popup-pin-publication {
    .popup__content {
        border-radius: 20px;
        max-width: 1430px;
        padding: 50px;
        min-height: 100%;
        max-height: 885px;
    }
    .popup__close {
        top: 20px;
        right: 20px;
    }
    // .popup-pin-publication__content

    &__content {
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    // .popup-pin-publication__top

    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        position: relative;
    }

    // .popup-pin-publication__title

    &__title {
        font-weight: 500;
        font-size: 20px;
    }

    // .popup-pin-publication__search

    &__search {
        &.active {
            input {
                opacity: 1;
                pointer-events: auto;
            }
        }
        input {
            transition: opacity 0.3s;
            width: calc(100% + 10px);
            position: absolute;
            border: 1px solid var(--color-black);
            border-radius: 20px;
            height: 40px;
            left: 0;
            top: -8px;
            z-index: 10;
            background-color: var(--color-base);
            padding: 5px 30px 5px 10px;
            opacity: 0;
            pointer-events: none;
        }
    }

    // .popup-pin-publication__search-icon

    &__search-icon {
        position: relative;
        z-index: 12;
    }

    // .popup-pin-publication__body

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0px 0px 50px 0px;
        max-height: 790px;
        overflow: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }

    // .popup-pin-publication__column

    &__column {
        border-bottom: 1px solid var(--color-grey);
        border-radius: 10px 10px 0 0;
        padding: 20px 20px 16px;
        display: flex;
        gap: 20px;
        background-color: transparent;
        transition: background-color 0.3s;
        &:hover {
            background-color: var(--color-light-gray);
            .popup-pin-publication__icon {
                img {
                    filter: none;
                }
            }
        }
        &.active {
            .popup-pin-publication__icon {
                border: 1px solid var(--color-red);
                img {
                    filter: invert(43%) sepia(96%) saturate(427%) hue-rotate(322deg) brightness(86%) contrast(85%);
                }
            }
        }
    }

    // .popup-pin-publication__left

    &__left {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 135%;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    // .popup-pin-publication__name

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 135%;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    // .popup-pin-publication__image

    &__image {
        border-radius: 7px;
        flex: 0 0 150px;
        height: 72px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .popup-pin-publication__icons

    &__icons {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    // .popup-pin-publication__icon

    &__icon {
        cursor: pointer;
        border-radius: 50px;
        width: 40px;
        flex: 0 0 40px;
        height: 40px;
        border: 1px solid transparent;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 16px;
            height: 16px;
            transition: filter 0.3s;
            filter: invert(82%) sepia(32%) saturate(0%) hue-rotate(226deg) brightness(114%) contrast(113%);
        }
    }
}
