.block-tariffs {
    .container {
        max-width: 1160px;
        padding: 0px 20px;
    }
    // .block-tariffs__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 50px;
        .title2 {
            text-align: center;
        }
    }
}
.tariffs-tabs {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    // .tariffs-tabs__navigation

    &__navigation {
        display: flex;
        flex-wrap: wrap;
        background: #f5f5fa;
        border-radius: 50px;
        padding: 4px;
        gap: 4px;
        padding: 4px;
        @media (max-width: 550px) {
            gap: 0px;
        }
    }

    // .tariffs-tabs__title

    &__title {
        border-radius: 100px;
        padding: 5px 15px;
        flex: 1 1 auto;
        min-width: 150px;
        min-height: 47px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-family: var(--second-family);
        font-weight: 500;
        font-size: 16px;
        text-align: center;
        transition: color 0.3s;
        @media (max-width: 550px) {
            min-width: 136px;
            padding: 4px;
        }
        span {
            font-size: 14px;
            display: block;
            margin: -4px 0px 0px 0px;
        }
        &:hover {
            color: var(--color-red);
        }
        &._tab-active {
            color: #fff;
            background-color: var(--color-red);
        }
    }

    // .tariffs-tabs__content

    &__content {
        width: 100%;
    }

    // .tariffs-tabs__body

    &__body {
    }

    // .tariffs-tabs__cards

    &__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 60px 20px;
        @media (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
    }
}
.card-tariffs-tabs {
    flex: 0 1 calc(33.3333% - 20px);
    position: relative;
    @media (max-width: 1200px) {
        flex: 0 1 calc(50% - 20px);
    }
    @media (max-width: 768px) {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &.active {
        .card-tariffs-tabs__item {
            background: var(--color-red);
            box-shadow:
                0 60px 50px -50px rgba(0, 0, 0, 0.1),
                0 60px 50px -50px rgba(205, 80, 69, 0.3);
        }
        .card-tariffs-tabs__top {
            color: var(--color-base);
        }
        .card-tariffs-tabs__bottom {
            background-color: var(--color-base);
        }
        .card-tariffs-tabs__sale {
            color: var(--color-red);
            background: var(--color-base);
        }
    }

    // .card-tariffs-tabs__circle

    &__circle {
        position: absolute;
        top: 66px;
        left: 50%;
        transform: translate(-50%, 0px);
        width: 592px;
        height: 563px;
        background: #e16459;
        border-radius: 50%;
    }

    // .card-tariffs-tabs__badge
    &__badge {
        white-space: nowrap;
        position: absolute;
        top: -33px;
        left: 50%;
        font-weight: 400;
        font-size: 16px;
        color: var(--color-base);
        background: var(--color-red);
        border-radius: 16px 16px 0 0;
        padding: 6px 12px 8px;
        transform: translate(-50%, 0px);
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: -15.9px;
            background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNNi45OTM4MmUtMDcgMTZDMi4xMDExNSAxNiA0LjE4MTczIDE1LjU4NjEgNi4xMjI5MyAxNC43ODIxQzguMDY0MTQgMTMuOTc4IDkuODI3OTcgMTIuNzk5NCAxMS4zMTM3IDExLjMxMzdDMTIuNzk5NCA5LjgyNzk3IDEzLjk3OCA4LjA2NDE0IDE0Ljc4MjEgNi4xMjI5M0MxNS41ODYxIDQuMTgxNzIgMTYgMi4xMDExNSAxNiAtNi45OTM4MmUtMDdMMTYgMTZMNi45OTM4MmUtMDcgMTZaIiBmaWxsPSIjQ0Q1MDQ1IiAvPgo8L3N2Zz4=");
            width: 16px;
            height: 16px;
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: -15.4px;
            background: url("data:image/svg+xml;base64, PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNMTYgMTZDMTMuODk4OCAxNiAxMS44MTgzIDE1LjU4NjEgOS44NzcwNyAxNC43ODIxQzcuOTM1ODYgMTMuOTc4IDYuMTcyMDMgMTIuNzk5NCA0LjY4NjI5IDExLjMxMzdDMy4yMDA1NSA5LjgyNzk3IDIuMDIyIDguMDY0MTQgMS4yMTc5MyA2LjEyMjkzQzAuNDEzODUzIDQuMTgxNzIgLTkxODQ0MmUtMDggMi4xMDExNSAwIC02Ljk5MzgyZS0wN0wtNi45OTM4MmUtMDcgMTZMMTYgMTZaIiBmaWxsPSIjQ0Q1MDQ1IiAvPgo8L3N2Zz4=");
            width: 16px;
            height: 16px;
        }
        @media (max-width: 768px) {
            position: relative;
            top: 0;
            left: 0;
            transform: translate(0px, 0px);
        }
    }

    // .card-tariffs-tabs__item

    &__item {
        position: relative;
        overflow: hidden;
        box-shadow: 0 60px 50px -50px rgba(0, 0, 0, 0.1);
        background: var(--color-base);
        padding: 30px 20px 20px 20px;
        border: 1px solid #eee;
        border-radius: 16px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        height: 100%;
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    // .card-tariffs-tabs__sale

    &__sale {
        position: absolute;
        top: 4px;
        right: 4px;
        border-radius: 50px;
        padding: 6px 8px 8px;
        background: var(--color-red);
        font-weight: 500;
        font-size: 12px;
        color: var(--color-base);
        min-height: 29px;
    }

    // .card-tariffs-tabs__top

    &__top {
        position: relative;
        z-index: 10;
        display: flex;
        flex-direction: column;
        gap: 19px;
        border-bottom: 1px solid #eee;
        padding: 0px 0px 14px 0px;
    }

    // .card-tariffs-tabs__title

    &__title {
        font-weight: 500;
        font-size: 24px;
        line-height: 120%;
        text-align: center;
        @media (max-width: 550px) {
            font-size: 20px;
        }
    }

    // .card-tariffs-tabs__price

    &__price {
        text-align: center;
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        @media (max-width: 550px) {
            font-size: 28px;
        }
        span {
            font-weight: 400;
            font-size: 16px;
        }
    }

    // .card-tariffs-tabs__bottom

    &__bottom {
        position: relative;
        z-index: 10;
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        padding: 20px;
        background: #f5f5fa;
        gap: 20px;
        ul {
            display: flex;
            flex-direction: column;
            gap: 16px;
            flex: 1 1 auto;
            li {
                display: flex;
                font-weight: 400;
                font-size: 18px;
                line-height: 120%;
                gap: 10px;
                @media (max-width: 550px) {
                    font-size: 16px;
                }
            }
        }
    }

    // .card-tariffs-tabs__icon

    &__icon {
        flex: 0 0 24px;
        width: 24px;
        height: 24px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 16px;
            height: 10px;
        }
    }

    // .card-tariffs-tabs__button

    &__button {
        min-height: 39px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        width: 100%;
        border-radius: 8px;
        padding: 4px 10px;
        text-align: center;
        transition:
            background-color 0.3s,
            color 0.3s;
        @media (max-width: 550px) {
            font-size: 14px;
            min-height: 37px;
        }
        &.btn-white {
            color: var(--color-red);
            background-color: var(--color-base);
            box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.05);
            &:hover {
                background-color: var(--color-red);
                color: #fff;
            }
        }
        &.btn-red {
            background-color: var(--color-red);
            color: var(--color-base);
            border: 1px solid var(--color-red);
            &:hover {
                background-color: var(--color-base);
                color: var(--color-red);
            }
        }
        &.disabled {
            color: var(--color-purple);
            pointer-events: none;
            background-color: var(--color-light-purple);
        }
    }

    // .card-tariffs-tabs__data

    &__data {
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        text-align: center;
        margin: -10px 0px 0px 0px;
        @media (max-width: 550px) {
            font-size: 16px;
        }
    }
}
