:root {
  --container-width: 1342px;
  --container-padding: 10px;
  --color-base: #fff;
  --color-red: #cd5045;
  --color-purple: #9999c7;
  --color-light-purple: #dfdfef;
  --color-green: #26a138;
  --color-blue-grey: #ededf5;
  --color-grey2-dlya-dop-teksta: #9e9e9e;
  --color-grey: #c5c5c5;
  --color-light-gray: #ebebeb;
  --color-black: #353535;

  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
  --third-family: "Montserrat", sans-serif;
  --font3: "JetBrains Mono", sans-serif;
  --font4: "SF Pro Text", sans-serif;
}
