.viewnote {
    .posts {
        padding: 62px 0px 120px 0px;
        @media (max-width: 768px) {
            padding: 20px 0px 75px 0px;
        }
    }
    .share-thoughts {
        display: flex;
        padding: 0px 0px 30px 0px;
    }
    .comments-view-publication__top{
        margin: 30px 0px 0px 0px;
    }
}


