.arrow-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0px, -50%) rotate(90deg);
    z-index: 10;
    transition:
        color 0.3s,
        background-color 0.3s;
    &:hover {
        color: var(--color-red);
    }
}
.arrow-next {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0px, -50%) rotate(-90deg);
    z-index: 10;
    transition:
        color 0.3s,
        background-color 0.3s;
    &:hover {
        color: var(--color-red);
    }
}

//========================================================================================================================================================

//Куки
.cookies {
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0px);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    background: var(--color-base);
    border-radius: 10px;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    max-width: 840px;
    z-index: 10;
    @media (max-width: $tablet) {
        bottom: 114px;
        max-width: 100%;
        width: calc(100% - 12px);
        left: 6px;
        transform: translate(0px, 0px);
    }
    @media (max-width: $mobile) {
        flex-direction: column;
    }
    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 133%;
        color: #000;
        margin: 0px 20px 0px 0px;
        @media (max-width: $mobile) {
            margin: 0px 0px 10px 0px;
        }
        a {
            text-decoration: underline;
            text-decoration-skip-ink: none;
            color: var(--color-red);
            transition: opacity 0.3s;
            &:hover {
                opacity: 0.8;
            }
        }
    }
    button {
        @media (max-width: $mobile) {
            width: 100%;
        }
    }
}
