.block-error {
    margin: 50px 0px 63px 0px;
    .container {
        max-width: 905px;
    }
    // .block-error__content

    &__content {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    // .block-error__title

    &__title {
        font-weight: 500;
        font-size: 36px;
        color: #000;
        line-height: 97%;
        text-align: center;
    }

    // .block-error__pic1

    &__pic1 {
        width: 100%;
        height: auto;
        @media (max-width: 768px) {
            margin: 0px 0px 22px 0px;
        }
    }

    // .block-error__search

    &__search {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .header__search {
            width: 500px;
            margin: 0px 0px 0px 0px;
            padding: 0px 0px 0px 20px;
            border: 1px solid var(--color-black);
            justify-content: start;
            @media (max-width: 768px) {
                width: 100%;
            }
            .header__search-icon {
                width: 20px;
                height: 20px;
                svg {
                    width: 20px;
                    height: 20px;
                }
            }
            input {
                display: block;
            }
        }
    }

    // .block-error__name

    &__name {
        width: 100%;
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
        color: #000;
        text-align: center;
        @media (max-width: 768px) {
            font-size: 20px;
        }
    }

    // .block-error__items

    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 9px;
            @media (max-width: 480px) {
                width: 100%;
                flex-direction: column;
            }
            li {
                flex: 0 0 auto;
                display: flex;
                @media (max-width: 480px) {
                    width: 100%;
                    flex: 0 1 auto;
                }
                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid var(--color-black);
                    border-radius: 8px;
                    padding: 5px 20px;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 120%;
                    min-height: 39px;
                    transition:
                        border 0.3s,
                        color 0.3s,
                        background-color 0.3s;
                    &:hover {
                        border: 1px solid var(--color-red);
                        color: var(--color-red);
                    }
                    @media (max-width: 480px) {
                        width: 100%;
                    }
                }
            }
        }
    }

    // .block-error__text

    &__text {
        font-weight: 400;
        font-size: 18px;
        color: #000;
        text-align: center;
        width: 100%;
        line-height: 120%;
        @media (max-width: 768px) {
            font-size: 16px;
        }
    }
}
